Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

tests: fix after merge conflict
  src/credential/presentation/__tests__/02-evaluate-rp-trust.test.ts
Labels: none

docs: update documentation for issuer configuration
  src/credential/issuance/02-get-issuer-config.ts
Labels: none

fix: handle custom link or universal link on reading qrcode
  src/credential/presentation/01-start-flow.ts
Labels: none

fix: request object gets a JAR rather than json
  src/credential/presentation/03-get-request-object.ts
Labels: none

fix: RelyingPartyEntityConfiguration type on retrieve rp jwks
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: none

fix: README presentation
  src/credential/presentation/README.md
Labels: none

fix: retrieve rp jwks test
  src/credential/presentation/06-fetch-presentation-definition.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/__tests__/06-fetch-presentation-definition.test.ts
Labels: none

fix: reference to PresentationDefinition inside trust types
  src/entity/trust/types.ts
Labels: none

fix: add config allErrors true to Ajv
  src/credential/presentation/07-evaluate-input-descriptor.ts
Labels: none

feat: build presente_submission using PresentationDefinition object
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
Labels: none

refactor: avoid replace original resource in case when evaluate qrcode
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/__tests__/01-start-flow.test.ts
Labels: none

chore: remove unused import
  src/credential/presentation/01-start-flow.ts
Labels: none

chore: deleted not necessary optional attributes form credential issuer ec
  src/trust/types.ts
Labels: none

refactor: move logic to retrieve jwk from request object inside dedicated method
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/index.ts
Labels: none

feat: added specific error case
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/errors.ts
Labels: none

fix: JWKS.parse when retrieve RP public key from endpoint
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: none

amend me
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
Labels: none

refactor: evaluate input descriptor
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

feat: throw exception if exp is expired
  src/credential/presentation/05-verify-request-object.ts
Labels: none

chore: improve README
  src/credential/presentation/README.md
Labels: none

feat: handle support to other path pattern in evaluate description
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

amend me
  src/credential/presentation/index.ts
Labels: none

chore: Release v1.1.0
  package.json
Labels: none

fix: aud and sd_hash with base64 output
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/types.ts
Labels: none

chore: Release v1.1.1
  package.json
Labels: none

refactor: make idphint optional attribute
  example/src/screens/PidScreen.tsx
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/environment.ts
  example/src/utils/openUrlAndListenForRedirect.ts
  src/credential/issuance/04-complete-user-authorization.ts
Labels: example

refactor: [WLEO-226 ] Make idphint parameter optional (#176)
  example/src/screens/PidScreen.tsx
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/environment.ts
  example/src/utils/openUrlAndListenForRedirect.ts
  src/credential/issuance/04-complete-user-authorization.ts
Labels: example

chore: Release v1.1.2
  package.json
Labels: none

feat(example): update native libraries fixing an issue related to integrity hardware key generation
  example/ios/Podfile.lock
  example/package.json
  example/src/store/storage.ts
  example/src/utils/integrity.ts
  example/yarn.lock
Labels: example

feat: added redirect_uri on response
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

refactor: remove useless let
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

refactor: improve immutability and readability when categorizeDisclosures
  src/credential/presentation/07-evaluate-input-descriptor.ts
Labels: none

feat: [EUDIW-209] Add Remote presentation for Potential (#174)
  package.json
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-get-request-object.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/05-send-authorization-response.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/06-fetch-presentation-definition.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/__tests__/03-retrieve-jwks.test.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/__tests__/06-fetch-presentation-definition.test.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/entity/trust/types.ts
  yarn.lock
Labels: none

chore: add requires camera permission
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/Info.plist
Labels: example

feat: install react-native-vision-camera
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/package.json
  example/yarn.lock
Labels: example

feat: add Remote Presentation Cross-Device
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/store/store.ts
  example/src/thunks/presentation.ts
Labels: example

deps: Update to RN075
  .gitignore
  README.md
  babel.config.js
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/main/res/drawable/rn_edit_text_material.xml
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/android/settings.gradle
  example/babel.config.js
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExampleTests/Info.plist
  example/ios/IoReactNativeWalletExampleTests/IoReactNativeWalletExampleTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

deps: Add react-native-vision-camera
  example/android/app/src/main/AndroidManifest.xml
  example/android/gradle.properties
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
Labels: example

ci: Attempt at enabling corepack
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
Labels: ci

ci: Update setup node step
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
Labels: ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
