Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

tests: fix tests
  package.json
  yarn.lock
Labels: none

chore: update version to 2.0.0-next.5
  package.json
Labels: none

deps: fix double dependency
  example/package.json
  package.json
  yarn.lock
Labels: example

chore: remove unwanted change
  example/ios/AppDelegate.swift
Labels: example

chore: remove unwanted change
  example/ios/File.swift
Labels: example

fix: AppDelegate reference in ios project
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
Labels: example

chore: update project file
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
Labels: example

wip
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/index.ts
Labels: none

wip
  package.json
Labels: none

wip
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: release `2.0.0-next.5` (#262)
  package.json
Labels: none

wip
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

fix: claims.path zod type
  src/trust/types.ts
Labels: none

chore: update .env.example
  example/.env.example
Labels: example

chore: disable new arch
  example/android/gradle.properties
Labels: example

fix: [SIW-2800] zod type for claims path pointer (#263)
  example/.env.example
  src/trust/types.ts
Labels: example

feat: Add support for education degree credential in credential flow
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
Labels: example

refactor: Unify parsedCredential output regardless of credential format
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/const.ts
  src/mdoc/const.ts
  src/mdoc/index.ts
  src/mdoc/utils.ts
Labels: none

refactor: improve 'format' attribute typing in obtainCredential output
  src/credential/issuance/06-obtain-credential.ts
  src/trust/types.ts
Labels: none

fix: wrong import
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

feat: [SIW-2794] Update React Native to version 0.78.3 (#261)
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
  .gitignore
  .node-version
  .nvmrc
  example/.node-version
  example/.nvmrc
  example/.ruby-version
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/File.swift
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.h
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/AppDelegate.swift
  example/ios/IoReactNativeWalletExample/main.m
  example/ios/IoReactNativeWalletExampleTests/Info.plist
  example/ios/IoReactNativeWalletExampleTests/IoReactNativeWalletExampleTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/src/components/IdpsGrid.tsx
  example/src/components/debug/DebugPrettyPrint.tsx
  example/src/screens/TrustmarkScreen.tsx
  example/src/utils/idps.ts
  example/src/utils/strings.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, ci

feat(android): restore minSdkVersion to 26
  example/android/build.gradle
Labels: example

wip
  example/src/screens/ProximityScreen.tsx
  package.json
Labels: example

feat: replace io-react-native-cbor with io-react-native-iso18013 and upgrade io-react-native-crypto
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/mdoc/index.ts
  yarn.lock
Labels: example

chore: release `2.0.0-next.6`
  package.json
Labels: none

chore: release `2.0.0-next.6` (#264)
  package.json
Labels: none

style: prettify
  src/mdoc/index.ts
Labels: none

test: add @pagopa/io-react-native-iso18013 mock
  jestSetup.js
Labels: none

feat: Add support for education enrollment credential in credential flow
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: example

feat: Add loading and error states for education enrollment in CredentialScreen
  example/src/screens/CredentialScreen.tsx
Labels: example

feat: Update credential context variable for education degree tests
  example/ios/Podfile.lock
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
Labels: example

feat: Add labels for education degree and enrollment credential types
  example/src/utils/ui.ts
Labels: example

feat: add authorityHints in the evaluateIssuerTrust output
  src/credential/issuance/02-evaluate-issuer-trust.ts
Labels: none

feat: verify trust_chain for mdoc credentials
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/mdoc/index.ts
Labels: example

Fix proximity
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/ProximityScreen.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

Update Podfile.lock
  example/ios/Podfile.lock
Labels: example

fix cocoapods version
  example/ios/Podfile.lock
  example/package.json
Labels: example

fix: Upgrade proximity to 0.2.0 (#267)
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/ProximityScreen.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

chore: add react-native-dialog to prompt cie pin insertion dialog
  example/package.json
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/cie/PinDialog.tsx
  example/yarn.lock
Labels: example

feat: Improve applyPath function for better handling of nested structures and array indexes
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
