Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

chore: remove console log
  example/src/screens/HomeScreen.tsx
  example/src/thunks/pid.ts
Labels: example

chore: revert change
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
Labels: example

feat: [WLEO-218] Add Remote Presentation Cross-Device to Example App (#178)
  example/ios/Podfile.lock
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/store/store.ts
  example/src/thunks/presentation.ts
Labels: example

chore: Release v1.2.0
  package.json
Labels: none

ci: Restore publish workflow
  .github/workflows/publish.yaml
Labels: ci

chore: Release v1.2.1
  package.json
Labels: none

Revert "deps: [WLEO-170] Update to RN073 (#180)"
  babel.config.js
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/babel.config.js
  example/ios/.xcode.env.local
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

chore: Release v1.2.2
  package.json
Labels: none

feat: Request Object flow with GET and POST method
  package.json
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/types.ts
  src/utils/jwk.ts
  yarn.lock
Labels: none

fix: Runtime crash due to missing camera permission
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/Info.plist
Labels: example

feat: add optional client attribute to RequestObject
  src/credential/presentation/types.ts
Labels: none

feat: retrieve public key from certificate if present
  package.json
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  yarn.lock
Labels: none

refactor: consider pubKey sig or kid in verification
  src/credential/presentation/05-verify-request-object.ts
Labels: none

chore: improve some comments
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: none

fix: make appfetch optional
  example/src/thunks/presentation.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: example

fix: make appfetch optional
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

fix: make appfetch optional
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

feat: [WLEO-235] Remove required context from presentation flow (#182)
  example/src/thunks/presentation.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/08-send-authorization-response.ts
Labels: example

chore: Release v1.2.3
  package.json
Labels: none

chore: DCQL WIP
  src/credential/presentation/06-evaluate-dcql-query.ts
  src/credential/presentation/types.ts
Labels: none

chore: enhance security on jwk_uri
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: none

fix: remove required context
  src/credential/presentation/04-retrieve-rp-jwks.ts
Labels: none

refactor: prioritize kid matching and fall back to use sig
  src/credential/presentation/05-verify-request-object.ts
Labels: none

refactor: retrieving keys not limited to one option
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
Labels: none

refactor: move some methods to utils
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/utils/crypto.ts
Labels: none

feat: add remote presentation with Potential specifications
  package.json
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-send-authorization-response.ts
  src/credential/presentation/06-evaluate-dcql-query.ts
  src/credential/presentation/06-fetch-presentation-definition.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.dcql.ts
  src/credential/presentation/types.ts
  src/trust/types.ts
  yarn.lock
Labels: none

feat: [WLEO-218] Add Remote Presentation Cross-Device to Example App (#178)
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/store/store.ts
  example/src/thunks/presentation.ts
Labels: example

chore: remove unused NoSuitableKeysFoundInEntityConfiguration
  src/utils/crypto.ts
Labels: none

fix: Runtime crash due to missing camera permission
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/Info.plist
Labels: example

feat: added unrequiredDisclosures
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

refactor: change name in unrequested
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

refactor: startflow presentation step
  example/src/thunks/presentation.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/errors.ts
Labels: example

chore: update docs
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/README.md
Labels: none

feat: [WLEO-228] Enhance Request Object Handling and JWKS Retrieval using x5c (#181)
  package.json
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/types.ts
  src/utils/crypto.ts
  yarn.lock
Labels: none

refactor: [WLEO-241] Presentation StartFlow input parameters (#184)
  example/src/thunks/presentation.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/errors.ts
Labels: example

feat: [WLEO-218] Introduce unrequestedDisclosures for enhanced disclosure categorization (#183)
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

chore: edit example presentation flow
  example/android/build.gradle
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/index.ts
Labels: example

chore: Release v1.2.4
  package.json
Labels: none

chore: install io-react-native-jwt 1.5.0
  package.json
  yarn.lock
Labels: none

feat: using EC to encrypt direct_post
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/types.ts
Labels: none
