Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

feat(documentation): enhance README with trust chain building and validation examples
  src/trust/README.md
Labels: none

ci: [WLEO-365] Add Android APK in release artifacts (#226)
  .github/workflows/publish.yaml
  .gitignore
  example/.env.example
  example/.github/publish-app.yml
  example/Gemfile
  example/android/Gemfile
  example/android/Gemfile.lock
  example/android/fastlane/Appfile
  example/android/fastlane/Fastfile
  example/android/fastlane/Pluginfile
  example/android/fastlane/README.md
  example/fastlane/Pluginfile
Labels: example, ci

fix: move workflow file and other minor fixes
  .github/workflows/publish-app.yml
Labels: ci

Potential fix for code scanning alert no. 21: Workflow does not contain permissions
  .github/workflows/publish-app.yml
Labels: ci

fix: permissions
  .github/workflows/publish-app.yml
Labels: ci

fix: ruby setup
  .github/workflows/publish-app.yml
Labels: ci

chore: delete old wf
  example/.github/publish-app.yml
Labels: example

fix: [WLEO-439] Changed behavior of evaluateInputDescriptor helper functions to throw on no match (#238)
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: none

ci: publish under next tag
  .github/workflows/publish.yaml
Labels: ci

ci: make NPM tag dynamic
  .github/workflows/publish.yaml
Labels: ci

ci: [SIW-2534] allow publishing to NPM under a prerelease tag (#240)
  .github/workflows/publish.yaml
Labels: ci

chore: bump version to 2.0.0-next.0
  README.md
  package.json
Labels: none

chore: release `2.0.0-next.0` (#241)
  README.md
  package.json
Labels: none

ci: create separate job to check release name
  .github/workflows/publish.yaml
Labels: ci

ci: set permissions
  .github/workflows/publish.yaml
Labels: ci

ci: wrap GITHUB_OUTPUT in quotes
  .github/workflows/publish.yaml
Labels: ci

ci: create separate job to check release name and fix publish workflow (#242)
  .github/workflows/publish.yaml
Labels: ci

refactor: parse credential, PID issuance
  example/src/thunks/pid.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: example

eudiw be open api
  openapi/wallet-provider.yaml
Labels: none

refactor request and reponse
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
Labels: none

refactor type pop
  src/utils/pop.ts
Labels: none

chore: cleanup
  example/src/screens/TrustScreen.tsx
  example/src/store/reducers/trustValidation.ts
Labels: example

chore: change "aud" claim in PoP token
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/utils/par.ts
Labels: none

wip
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/credential/status/02-status-attestation-fixed.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example

wip
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  package.tgz
  src/credential/status/02-status-attestation-fixed.ts
  src/credential/status/02-status-attestation.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example

feat: Refactor credential handling and extraction logic for status attestation
  example/src/thunks/attestation.ts
  example/src/utils/credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/credentials.ts
Labels: example

wip: generate key with <= 33 bytes (bugged)
  example/src/thunks/attestation.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/crypto.ts
Labels: example

feat: Add credential format parameter to status attestation and verification functions
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/types.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  example/src/utils/integrity.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/credentials.ts
Labels: example

feat: [WLEO-461] Alignment Wallet Attestation IT Wallet spec 1.0.0 (#243)
  openapi/wallet-provider.yaml
  src/utils/pop.ts
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
Labels: none

chore: cleanup
  src/credential/status/02-status-attestation-fixed.ts
  src/utils/credentials.ts
Labels: none

chore: edit Credential Issuer EC type
  src/trust/types.ts
Labels: none

feat: update io-react-native-crypto dependency to version 1.2.0
  example/package.json
  example/yarn.lock
  package.json
  package.tgz
  yarn.lock
Labels: example

feat: add getPublicKeyFixed mock function for key retrieval testing
  __mocks__/@pagopa/io-react-native-crypto/index.ts
Labels: none

chore: fix test types
  src/credential/issuance/__tests__/06-obtain-credential.test.ts
Labels: none

feat: add format parameter to person identification data structure
  example/src/thunks/pid.ts
Labels: example

chore: adjust PID issuance flow
  example/src/store/types.ts
  example/src/thunks/pid.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/sd-jwt/types.ts
Labels: example

docs: update documentation
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
Labels: none

docs: update issuance README
  src/credential/issuance/README.md
Labels: none

chore: format comments
  src/utils/par.ts
Labels: none

chore: fix/add tests
  src/credential/issuance/__tests__/06-obtain-credential.test.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
Labels: none

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
