Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

ci: Fix indentation in code review workflow
  .github/workflows/code-review.yaml
Labels: ci

ci: Update node version
  .node-version
  example/.node-version
Labels: example

ci: Fix code review command
  package.json
  yarn.lock
Labels: none

ci: Fix code review command
  package.json
Labels: none

fix merge
  package.json
  yarn.lock
Labels: none

chore: refresh yarn lock
  yarn.lock
Labels: none

chore: remove eslint rules
  .eslintrc.js
  package.json
  yarn.lock
Labels: none

chore: add eslint config prettier
  package.json
  yarn.lock
Labels: none

fix: various fixes
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  example/src/App.tsx
  example/src/components/TestScenario.tsx
  example/src/components/debug/DebugDataOverlay.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/CredentialScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PidScreen.tsx
  example/src/screens/SettingsScreen.tsx
  example/src/screens/WalletInstanceScreen.tsx
  src/credential/issuance/02-get-issuer-config.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/presentation/08-send-authorization-response.ts
  tsconfig.build.json
  tsconfig.json
Labels: example

fix: missing type declaration
  example/src/thunks/pid.ts
  src/entity/trust/chain.ts
  src/sd-jwt/types.ts
  src/utils/decoder.ts
Labels: example

chore: revert change
  example/react-native.config.js
Labels: example

fix: attempt at fixing statics
  .eslintrc.js
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
  package.json
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/types.ts
  src/entity/trust/chain.ts
  src/utils/decoder.ts
  src/utils/errors.ts
  src/utils/misc.ts
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  jest.config.js
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
  jest.config.js
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  tsconfig.build.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  package.json
  yarn.lock
Labels: none

fix: attempt at fixing statics
  tsconfig.json
Labels: none

fix: attempt at fixing statics
  .eslintrc.js
  .github/workflows/code-review.yaml
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, ci

fix: attempt at fixing statics
  .github/workflows/code-review.yaml
Labels: ci

chore: [SIW-1310] Generation of cryptographically secure UUIDs (#170)
  example/index.js
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/integrity.ts
  example/yarn.lock
  jestSetup.js
  package.json
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/README.md
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-send-authorization-response.ts
  src/credential/status/02-status-attestation.ts
  src/utils/crypto.ts
  src/utils/par.ts
  yarn.lock
Labels: example

deps: Update to RN073
  babel.config.js
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/babel.config.js
  example/ios/.xcode.env.local
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

deps: [WLEO-170] Update to RN073 (#180)
  babel.config.js
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/babel.config.js
  example/ios/.xcode.env.local
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

fix: Android permission and pid redirect uri
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/src/screens/HomeScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/thunks/pid.ts
Labels: example
