Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

feat: support multiple root certificates for credential verification
  example/src/thunks/offer.ts
  src/credential/offer/08-verify-and-parse-credential.ts
  src/mdoc/index.ts
Labels: example

feat: enhance credential detail display with additional image attributes
  example/src/components/CredentialDetailCard.tsx
Labels: example

feat: improve credential metadata display with enhanced formatting and status indication
  example/src/components/CredentialDetailCard.tsx
Labels: example

feat: add support for additional image attribute in credential detail display
  example/src/components/CredentialDetailCard.tsx
Labels: example

feat: replace verifier certificates with issuer certificates for credential verification
  example/src/thunks/offer.ts
  example/src/thunks/presentation.ts
  example/src/utils/issuance.ts
  example/src/utils/presentation.ts
Labels: example

feat: add support for OKP key type in JWK and improve error logging in request object verification
  example/src/utils/presentation.ts
  src/credential/presentation/06-verify-request-object.ts
  src/utils/jwk.ts
Labels: example

new ANIST credentials
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/utils/ui.ts
Labels: example

chore: Austria cert
  example/src/utils/presentation.ts
Labels: example

feat: enhance issuer metadata fetching with improved error handling and logging
  example/src/thunks/offer.ts
  src/credential/offer/03-evaluate-issuer-metadata.ts
  src/credential/offer/05-prepare-authorization.ts
  src/credential/offer/utils.ts
Labels: example

feat: support batch credential issuance and improve logging for credential processing
  example/src/thunks/offer.ts
  src/credential/offer/07-obtain-credential.ts
  src/credential/offer/08-verify-and-parse-credential.ts
Labels: example

feat: make identifier_list and status_list optional in status object
  src/credential/offer/types.ts
Labels: none

feat: streamline credential request handling and enhance response status verification
  src/credential/offer/07-obtain-credential.ts
  src/credential/offer/08-verify-and-parse-credential.ts
  src/mdoc/utils.ts
Labels: none

chore: debug info
  example/src/screens/PresentationScreen.tsx
Labels: example

chore: [PTDW-120] Update release-it (#298)
  package.json
  yarn.lock
Labels: none

chore: throw specific error code when MRTD challenge init fails
  src/credential/issuance/mrtd-pop/02-init-challenge.ts
  src/utils/error-codes.ts
Labels: none

chore: [SIW-3562] Throw specific error code when MRTD challenge init fails (#301)
  src/credential/issuance/mrtd-pop/02-init-challenge.ts
  src/utils/error-codes.ts
Labels: none

chore: release version 2.4.2
  CHANGELOG.md
  package.json
Labels: none

chore: update publish workflow to include provenance and permissions
  .github/workflows/publish.yaml
Labels: ci

chore: [SIW-0000] Update publish workflow to support Trusted Publishing (#302)
  .github/workflows/publish.yaml
Labels: ci

chore: migrate to sd-jwt library and update credential parsing logic
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/types.ts
  yarn.lock
Labels: example

chore: update babel and metro configurations for react-native-quick-crypto and related modules
  example/babel.config.js
  example/index.js
  example/metro.config.js
Labels: example

chore: optimize credential verification logic and enhance error handling
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

chore: update credential verification to utilize sd-jwt library with 1.3.x changes
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: fix token encoding by appending empty string in disclosed token and refactor imports
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
  src/utils/nestedProperty.ts
Labels: none

chore: add sd-jwt library dependencies for core and types
  package.json
Labels: none

chore: remove empty string from disclosed token composition
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
Labels: none

chore: update token handling in tests and sd-jwt implementation
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/sd-jwt/__test__/index.test.ts
Labels: none

chore: update token handling in tests and sd-jwt implementation
  example/package.json
  example/yarn.lock
Labels: example

chore: migrate sd-jwt library dependencies to package.json
  package.json
Labels: none

chore: remove unused sd-jwt library dependencies from package.json and yarn.lock
  example/package.json
  example/yarn.lock
  package.json
Labels: example

chore: remove unused Claim and Credential display schemas from types.ts
  src/credential/issuance/types.ts
Labels: none

chore: optimize getDisplayMetadata function by removing redundant path filtering
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: simplify path comparison in claims metadata verification
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: enhance credential parsing with path comparison utilities
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/utils/parser.ts
Labels: none

feat: [SIW-3648] Sd-JWT Library migration (#303)
  example/babel.config.js
  example/index.js
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
  src/utils/nestedProperty.ts
  src/utils/parser.ts
  yarn.lock
Labels: example

chore: release version 2.5.0
  CHANGELOG.md
  package.json
Labels: none

refactor: CredentialsCatalogue multi-version
  src/credentials-catalogue/api/DigitalCredentialsCatalogue.ts
  src/credentials-catalogue/api/index.ts
  src/credentials-catalogue/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/index.ts
  src/credentials-catalogue/v1.0.0/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.0.0/index.ts
  src/credentials-catalogue/v1.0.0/mappers.ts
  src/credentials-catalogue/v1.0.0/types.ts
  src/credentials-catalogue/v1.3.3/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.3.3/index.ts
  src/utils/mappers.ts
Labels: none

feat: add IoWallet class as SDK entrypoint
  src/IoWallet.ts
  src/api/index.ts
  src/credentials-catalogue/README.md
  src/index.ts
Labels: none

chore: create UnimplementedFeatureError
  src/credentials-catalogue/v1.3.3/fetch-and-parse-catalogue.ts
  src/utils/errors.ts
Labels: none

chore: update README
  README.md
Labels: none

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
