Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

chore: release `2.0.0-next.4` (#254)
  package.json
Labels: none

feat: update SDK versions in build.gradle and remove io-react-native-cbor dependency
  example/android/build.gradle
  example/package.json
  example/yarn.lock
  package.json
  src/utils/credentials.ts
  yarn.lock
Labels: example

fix: [SIW-2497] Migrate to getPublicKeyFixed and Update Thumbprint Logic (#245)
  __mocks__/@pagopa/io-react-native-crypto/index.ts
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/types.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/integrity.ts
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/credentials.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example

feat: update credential issuance to include format in response
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
Labels: example

refactor: clean up whitespace in attestation.ts
  example/src/thunks/attestation.ts
Labels: example

refactor: format export statements in index.ts for consistency
  __mocks__/@pagopa/io-react-native-crypto/index.ts
Labels: none

chore: add Wallet Attestation in presentation
  example/src/thunks/presentation.ts
Labels: example

chore: add Wallet Attestation in remote presentation in the example app (#256)
  example/src/thunks/presentation.ts
Labels: example

chore: handle invalid status
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/types.ts
Labels: none

chore: add tests
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/__tests__/03-verify-and-parse-status-attestation.test.ts
  src/credential/status/types.ts
Labels: none

chore: update dcql-ts
  package.json
  yarn.lock
Labels: none

chore: rename status attestation to status assertion
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/index.ts
  src/credential/status/types.ts
Labels: none

chore: rename status attestation files to status assertion
  src/credential/status/02-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/credential/status/index.ts
Labels: none

chore(example): rename status attestation to status assertion
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
Labels: example

chore(example): rename status attestation screen
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/StatusAssertionScreen.tsx
Labels: example

chore: rename verifyAndParseStatusAttestation in tests
  src/credential/status/__tests__/03-verify-and-parse-status-assertion.test.ts
Labels: none

fix: [SIW-2497] Forward-port getPublicKeyFixed and Update Thumbprint Logic (#255)
  __mocks__/@pagopa/io-react-native-crypto/index.ts
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/types.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/integrity.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/credentials.ts
  src/utils/crypto.ts
Labels: example

feat: `credentialId` pass trhough in `evaluateDcqlQuery` function
  example/src/thunks/presentation.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
Labels: example

chore: fix tests
  src/credential/status/__tests__/03-verify-and-parse-status-assertion.test.ts
Labels: none

chore: update README
  src/credential/status/README.md
Labels: none

chore: throw CredentialInvalidStatus when the status assertion contains an error
  src/credential/status/02-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/credential/status/__tests__/03-verify-and-parse-status-assertion.test.ts
Labels: none

fix: `completeUserAuthorizationWithFormPostJwtMode`
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
Labels: none

chore: change copy
  example/src/screens/HomeScreen.tsx
Labels: example

chore: check JWK thumbprints
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/utils/jwk.ts
Labels: none

chore: [SIW-2700] Update status assertion to v1.0 (#250)
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/StatusAssertionScreen.tsx
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  src/credential/status/02-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/README.md
  src/credential/status/__tests__/03-verify-and-parse-status-assertion.test.ts
  src/credential/status/index.ts
  src/credential/status/types.ts
  src/utils/credentials.ts
  src/utils/jwk.ts
Labels: example

fix: improve holder binding verification using thumbprint comparison
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

fix: enhance holder binding verification and update thumbprint calculation
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
Labels: none

fix: [SIW-2785] Improve kid string comparison with thumbprint-based key comparison on credential flow (#258)
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
Labels: none

feat: add io-react-native-cbor
  example/android/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

feat: add verifyAndParseCredentialMdoc
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/mdoc/converter.ts
  src/mdoc/index.ts
  src/utils/crypto.ts
Labels: none

add proximity
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/Info.plist
  example/package.json
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/utils/misc.ts
  example/yarn.lock
Labels: example

wip
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/utils/misc.ts
  example/src/utils/proximity.ts
Labels: example

chore: update react native to version 0.78
  .gitignore
  .node-version
  .nvmrc
  example/.node-version
  example/.nvmrc
  example/.ruby-version
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/AppDelegate.swift
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.h
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/AppDelegate.swift
  example/ios/IoReactNativeWalletExample/main.m
  example/ios/IoReactNativeWalletExampleTests/Info.plist
  example/ios/IoReactNativeWalletExampleTests/IoReactNativeWalletExampleTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/src/components/IdpsGrid.tsx
  example/src/components/debug/DebugPrettyPrint.tsx
  example/src/screens/TrustmarkScreen.tsx
  example/src/utils/idps.ts
  example/src/utils/strings.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

feat: [SIW-2325] Add PROD endpoints on Trust Screen example app (#252)
  example/.env.example
  example/src/screens/TrustScreen.tsx
Labels: example

test
  package.json
Labels: none

update prepack script
  .github/workflows/publish.yaml
  package.json
Labels: ci

deps: update a few dependencies
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
Labels: example

FIX BLE permission on iOS
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
Labels: example

chore: remove unwanted change
  example/src/utils/idps.ts
Labels: example

ci: pin nod version
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
Labels: ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
