Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

test: fix
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

chore: downgrade deps io wallet sdk
  package.json
  yarn.lock
Labels: none

chore: yarn lock
  yarn.lock
Labels: none

chore: yarn lock example app
  example/yarn.lock
Labels: example

chore: fix mapper
  src/credential/presentation/v1.3.3/mappers.ts
Labels: none

chore: add comment for mapToRequestObject
  src/credential/presentation/v1.3.3/mappers.ts
Labels: none

fix: import
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
Labels: none

test: fix
  src/credential/presentation/common/errors.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
Labels: none

chore: add comment in Metro config
  example/metro.config.js
Labels: example

chore: removed WIA in credential to send during presentation flow
  example/src/thunks/presentation.ts
Labels: example

chore: JSDocs
  example/src/thunks/presentation.ts
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
Labels: example

chore: update issuance with presentation flow
  example/src/utils/credential.ts
  src/credential/issuance/api/03-complete-user-authorization.ts
  src/credential/issuance/v1.0.0/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/credential/presentation/index.ts
  src/credential/presentation/v1.3.3/index.ts
Labels: example

fix: test and import
  src/api/index.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/sd-jwt/__test__/index.test.ts
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

chore: applied suggestions
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/credential/presentation/common/utils/__tests__/dcql.test.ts
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/v1.0.0/__tests__/utils.jwks.test.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
Labels: none

chore: first v1.3 implementation
  src/credentials-catalogue/api/DigitalCredentialsCatalogue.ts
  src/credentials-catalogue/v1.0.0/mappers.ts
  src/credentials-catalogue/v1.0.0/types.ts
  src/credentials-catalogue/v1.3.3/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.3.3/mappers.ts
  src/credentials-catalogue/v1.3.3/types.ts
  src/credentials-catalogue/v1.3.3/utils.ts
Labels: none

chore: add mappers tests
  src/credentials-catalogue/v1.0.0/__tests__/mappers.test.ts
  src/credentials-catalogue/v1.3.3/__tests__/mappers.test.ts
  src/credentials-catalogue/v1.3.3/mappers.ts
Labels: none

chore: check vd+sd-jwt in getDcqlQueryMatches
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
Labels: none

fix: prettify
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
Labels: none

fix: add format to CredentialFormat
  src/credential/presentation/api/types.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
Labels: none

test: fix
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

chore: update `CODEOWNERS` with new collaborators (#327)
  .github/CODEOWNERS
Labels: none

feat: [SIW-3841] Add remote presentation v1.3 with IO Wallet SDK integration (#322)
  example/src/thunks/presentation.ts
  src/credential/issuance/v1.3.3/__tests__/mappers.test.ts
  src/credential/issuance/v1.3.3/mappers.ts
  src/credential/presentation/api/02-evaluate-rp-trust.ts
  src/credential/presentation/api/03-get-request-object.ts
  src/credential/presentation/api/04-retrieve-rp-jwks.ts
  src/credential/presentation/api/04-verify-request-object.ts
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/api/index.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/common/utils.ts
  src/credential/presentation/v1.0.0/01-start-flow.ts
  src/credential/presentation/v1.0.0/03-get-request-object.ts
  src/credential/presentation/v1.0.0/04-retrieve-rp-jwks.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/02-evaluate-rp-trust.test.ts
  src/credential/presentation/v1.0.0/__tests__/04-verify-request-object.test.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/presentation/v1.0.0/__tests__/fetchJwksFromConfig.test.ts
  src/credential/presentation/v1.0.0/index.ts
  src/credential/presentation/v1.0.0/types.ts
  src/credential/presentation/v1.0.0/utils.ts
  src/credential/presentation/v1.3.3/01-start-flow.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/03-get-request-object.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/credential/presentation/v1.3.3/sdkErrorMapper.ts
  src/credential/presentation/v1.3.3/types.ts
  src/trust/v1.0.0/types.ts
  src/trust/v1.3.3/entities.ts
  src/trust/v1.3.3/types.ts
Labels: example

chore: update IO Wallet SDK to 1.0.0 (#325)
  example/metro.config.js
  package.json
  yarn.lock
Labels: example

chore: remove comment in mapToRequestObject
  src/credential/presentation/v1.3.3/mappers.ts
Labels: none

chore: update dcql to v3
  package.json
  yarn.lock
Labels: none

feat: [SIW-3943] Upgrade dcql library and update step in remote presentation flow (#326)
  example/src/thunks/presentation.ts
  example/src/utils/credential.ts
  package.json
  src/api/index.ts
  src/credential/issuance/api/03-complete-user-authorization.ts
  src/credential/issuance/v1.0.0/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/common/errors.ts
  src/credential/presentation/common/utils/__tests__/dcql.test.ts
  src/credential/presentation/common/utils/dcql.ts
  src/credential/presentation/common/utils/http.ts
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/index.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/presentation/v1.0.0/__tests__/utils.jwks.test.ts
  src/credential/presentation/v1.0.0/utils.jwks.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/index.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/credential/presentation/v1.3.3/utils.mdoc.ts
  src/mdoc/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
  yarn.lock
Labels: example

chore: [SIW-3945] Remove PID module (#324)
  src/index.ts
  src/pid/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
Labels: none

chore: [SIW-3912] Add initial agents documentation (#323)
  AGENTS.md
  CLAUDE.md
  docs/agents/architecture.md
  docs/agents/commands.md
  docs/agents/conventions.md
  docs/agents/testing.md
Labels: docs

refactor: simplify sd-jwt module
  src/credential/__mocks__/sd-jwt.ts
  src/credential/issuance/common/06-verify-and-parse-credential.sdjwt.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/sd-jwt/__test__/converters.test.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/__test__/utils.test.ts
  src/sd-jwt/converters.ts
  src/sd-jwt/errors.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/sd-jwt/utils.ts
  src/sd-jwt/verifier.ts
  src/utils/credentials.ts
Labels: none

chore: update tests
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
Labels: none

chore: edit getVerification tests
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/sd-jwt/__test__/utils.test.ts
Labels: none

chore: replace vc+sd-jwt with LEGACY_SD_JWT
  src/credential/presentation/api/types.ts
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/sd-jwt/types.ts
Labels: none

chore: create keyBy and groupBy utils
  src/credentials-catalogue/v1.3.3/mappers.ts
  src/credentials-catalogue/v1.3.3/types.ts
  src/utils/__tests__/object.test.ts
  src/utils/misc.ts
  src/utils/object.ts
Labels: none

refactor: change jsonOnly to asJson
  src/credentials-catalogue/v1.3.3/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.3.3/utils.ts
Labels: none

fix: wrong import
  src/credential/presentation/common/utils/dcql.ts
Labels: none

feat: add status list initial implementation
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  package.json
  src/credential/status/api/index.ts
  src/credential/status/api/status-assertion.ts
  src/credential/status/api/status-list.ts
  src/credential/status/index.ts
  src/credential/status/v1.0.0/01-status-assertion.ts
  src/credential/status/v1.0.0/02-verify-and-parse-status-assertion.ts
  src/credential/status/v1.0.0/index.ts
  src/credential/status/v1.3.3/01-status-list.ts
  src/credential/status/v1.3.3/02-verify-and-parse-status-list.ts
  src/credential/status/v1.3.3/index.ts
  yarn.lock
Labels: example

chore: edit JSDoc
  src/credential/status/api/status-assertion.ts
  src/credential/status/api/status-list.ts
Labels: none

chore: minor types edits
  src/credentials-catalogue/v1.3.3/types.ts
Labels: none

docs: update status readme
  src/credential/status/README.md
Labels: none

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
