Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

chore: Update io-wallet dependencies to latest alpha versions
  package.json
  yarn.lock
Labels: none

feat: Update credential offer types and extraction logic in offer.ts
  example/src/store/reducers/offer.ts
  example/src/thunks/offer.ts
Labels: example

feat: integrate IO Walled SDK in complete-user-auth 1.3
  example/src/utils/credential.ts
  package.json
  src/credential/issuance/api/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/mappers.ts
  yarn.lock
Labels: example

feat: Add documentation for io-react-native-wallet library
  AGENTS.md
  CLAUDE.md
  docs/agents/architecture.md
  docs/agents/commands.md
  docs/agents/conventions.md
  docs/agents/flows.md
  docs/agents/testing.md
Labels: docs

tests
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

feat: integrate IO Wallet SDK in authorize-access 1.3
  src/credential/issuance/api/types.ts
  src/credential/issuance/v1.3.3/04-authorize-access.ts
Labels: none

chore: update issuance index 1.3
  src/credential/issuance/v1.3.3/index.ts
Labels: none

prettier
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

chore: extract shared auth functions to common folder
  src/api/index.ts
  src/credential/issuance/common/authorization.ts
  src/credential/issuance/index.ts
  src/credential/issuance/v1.0.0/02-start-user-authorization.ts
  src/credential/issuance/v1.0.0/types.ts
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
  src/credential/issuance/v1.3.3/index.ts
  src/credential/issuance/v1.3.3/types.ts
Labels: none

chore: remove unnecessary comment
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
Labels: none

fix: import
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
Labels: none

chore: update readme
  src/credential/offer/README.md
Labels: none

chore: first obtainCredential implementation
  src/credential/issuance/v1.3.3/05-obtain-credential.ts
  src/credential/issuance/v1.3.3/types.ts
Labels: none

feat: Migrate credential offer types to local definitions and add error mapping helper
  src/credential/offer/api/01-resolve-credential-offer.ts
  src/credential/offer/api/02-extract-grant-details.ts
  src/credential/offer/api/index.ts
  src/credential/offer/api/types.ts
  src/credential/offer/v1.3.3/02-extract-grant-details.ts
Labels: none

chore: obtain-credential error handling
  src/credential/issuance/v1.3.3/05-obtain-credential.ts
  src/utils/errors.ts
Labels: none

chore: verify-and-parse with @sd-jwt integration
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.mdoc.ts
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.sdjwt.ts
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.ts
Labels: none

feat: Refactor error mapping with a new utility function for better error handling
  src/credential/offer/v1.3.3/02-extract-grant-details.ts
  src/utils/errors.ts
Labels: none

chore: fix sd-jwt verify
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.sdjwt.ts
Labels: none

chore: export obtainCredential, verifyAndParseCredential
  src/credential/issuance/v1.3.3/index.ts
Labels: none

refactor: move verify-and-parse-credential to common folder
  src/credential/issuance/common/02-start-user-authorization.ts
  src/credential/issuance/common/06-verify-and-parse-credential.mdoc.ts
  src/credential/issuance/common/06-verify-and-parse-credential.sdjwt.ts
  src/credential/issuance/v1.0.0/02-start-user-authorization.ts
  src/credential/issuance/v1.0.0/06-verify-and-parse-credential.ts
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.ts
Labels: none

chore: add mappers tests
  src/credential/issuance/v1.3.3/__tests__/mappers.test.ts
Labels: none

fix SafeAreaView
  example/src/screens/CredentialScreen.tsx
Labels: example

chore: Wallet SDK integration in MRTD flow
  example/src/thunks/mrtd.ts
  src/credential/issuance/api/mrtd-pop/types.ts
  src/credential/issuance/mrtd-pop/01-verify-and-parse-challenge-info.ts
  src/credential/issuance/mrtd-pop/02-init-challenge.ts
  src/credential/issuance/mrtd-pop/03-validate-challenge.ts
Labels: example

feat: presentation v1.3 with sdk (first version)
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/api/02-evaluate-rp-trust.ts
  src/credential/presentation/api/03-get-request-object.ts
  src/credential/presentation/api/04-retrieve-rp-jwks.ts
  src/credential/presentation/api/04-verify-request-object.ts
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/api/index.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/v1.0.0/03-get-request-object.ts
  src/credential/presentation/v1.0.0/04-retrieve-rp-jwks.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/04-verify-request-object.test.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/presentation/v1.0.0/__tests__/uitls.test.ts
  src/credential/presentation/v1.0.0/index.ts
  src/credential/presentation/v1.0.0/utils.ts
  src/credential/presentation/v1.3.3/01-start-flow.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/03-get-request-object.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/credential/presentation/v1.3.3/types.ts
  src/trust/v1.3.3/entities.ts
  src/trust/v1.3.3/types.ts
  yarn.lock
Labels: example

chore: request_uri_method not optional in PresentationParams
  src/credential/presentation/api/types.ts
Labels: none

chore: improved 03 step for 1.0
  src/credential/presentation/v1.0.0/03-get-request-object.ts
Labels: none

chore: update IO Wallet SDK
  package.json
  yarn.lock
Labels: none

chore: handle SDK UnexpectedStatusCodeError
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/utils/errors.ts
Labels: none

chore: cast sdkConfigV1_3 in createCredentialRequest
  src/credential/issuance/v1.3.3/05-obtain-credential.ts
Labels: none

chore: handle common RPConfig
  example/src/thunks/presentation.ts
  src/credential/presentation/api/02-evaluate-rp-trust.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/fetchJwksFromConfig.test.ts
  src/credential/presentation/v1.0.0/mappers.ts
  src/credential/presentation/v1.0.0/utils.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/credential/presentation/v1.3.3/types.ts
  src/trust/v1.0.0/types.ts
Labels: example

fix: lint
  example/src/thunks/presentation.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/v1.3.3/03-get-request-object.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/trust/v1.3.3/entities.ts
  src/trust/v1.3.3/types.ts
Labels: example

chore: update wallet metadata
  src/credential/presentation/api/types.ts
Labels: none

chore: common typer for request object, state now is required
  src/credential/presentation/api/types.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/types.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/credential/presentation/v1.3.3/types.ts
Labels: none

test: fix remote flow test
  src/credential/presentation/v1.0.0/__tests__/02-evaluate-rp-trust.test.ts
  src/credential/presentation/v1.0.0/__tests__/04-verify-request-object.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/presentation/v1.0.0/__tests__/fetchJwksFromConfig.test.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/types.ts
  src/credential/presentation/v1.3.3/utils.ts
Labels: none

chore: update JSDOCS
  src/credential/presentation/api/03-get-request-object.ts
Labels: none

chore: update JSDOCS
  src/credential/presentation/api/06-send-authorization-response.ts
Labels: none

chore: add script to resign credentials, fix tests
  scripts/create-test-sdjwt.js
  src/credential/__mocks__/sd-jwt.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
Labels: none

chore: fix test
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
Labels: none

feat: [SIW-3291,SIW-3292] ANIST new credentials implementation (#318)
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/utils/ui.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: example

chore: [SIW-3843] Migrate credential offer to `io-wallet-sdk` (#316)
  example/src/store/reducers/offer.ts
  example/src/thunks/offer.ts
  package.json
  src/api/index.ts
  src/credential/offer/README.md
  src/credential/offer/api/01-resolve-credential-offer.ts
  src/credential/offer/api/01-start-flow.ts
  src/credential/offer/api/02-extract-grant-details.ts
  src/credential/offer/api/02-fetch-credential-offer.ts
  src/credential/offer/api/03-evaluate-issuer-metadata.ts
  src/credential/offer/api/04-select-grant-type.ts
  src/credential/offer/api/index.ts
  src/credential/offer/api/types.ts
  src/credential/offer/common/utils.ts
  src/credential/offer/index.ts
  src/credential/offer/v1.0.0/__tests__/index.test.ts
  src/credential/offer/v1.0.0/index.ts
  src/credential/offer/v1.3.3/01-resolve-credential-offer.ts
  src/credential/offer/v1.3.3/01-start-flow.ts
  src/credential/offer/v1.3.3/02-extract-grant-details.ts
  src/credential/offer/v1.3.3/02-fetch-credential-offer.ts
  src/credential/offer/v1.3.3/03-evaluate-issuer-metadata.ts
  src/credential/offer/v1.3.3/04-select-grant-type.ts
  src/credential/offer/v1.3.3/__tests__/01-resolve-credential-offer.test.ts
  src/credential/offer/v1.3.3/__tests__/01-start-flow.test.ts
  src/credential/offer/v1.3.3/__tests__/02-extract-grant-details.test.ts
  src/credential/offer/v1.3.3/__tests__/02-fetch-credential-offer.test.ts
  src/credential/offer/v1.3.3/index.ts
  src/credential/offer/v1.3.3/mappers.ts
  src/credential/offer/v1.3.3/types.ts
  src/credential/offer/v1.3.3/utils.ts
  src/utils/errors.ts
  yarn.lock
Labels: example

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
