Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

chore: remove unwanted changes
  example/android/app/build.gradle
  example/package.json
Labels: example

chore: differentiate between library and example app release
  .github/workflows/publish.yaml
  example/.github/publish-app.yml
Labels: example, ci

chore: split verifyRequestObject in smaller functions, add tests
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/__tests__/05-verify-request-object.test.ts
Labels: none

docs: update README
  src/credential/presentation/README.md
Labels: none

chore: fix typo
  src/credential/presentation/05-verify-request-object.ts
Labels: none

chore: fix comments
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

feat: [WLEO-370] Update io-react-native-cbor dependency to 1.2.1
  package.json
  yarn.lock
Labels: none

ci: [WLEO-370] Whitelisted pagopa/io-react-native-cbor in jest's transformIgnorePatterns to make tests runnable
  package.json
Labels: none

fix: [WLEO-370] Updated io-react-native-cbor in example app, too
  example/package.json
  example/yarn.lock
Labels: example

chore: remove Request Object parameter in sendAuthorizationErrorResponse
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
Labels: none

chore: update processRefusedPresentation
  example/src/thunks/presentation.ts
Labels: example

Revert "chore: remove Request Object parameter in sendAuthorizationErrorResponse"
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
Labels: none

Revert "chore: update processRefusedPresentation"
  example/src/thunks/presentation.ts
Labels: example

upgrade io-react-native-cbor 1.2.3
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

refactor Presentation obj passing EvaluatedDisclosure
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
  src/credential/presentation/types.ts
  src/sd-jwt/index.ts
Labels: none

refactor fieldRequestedAndAccepted when prepare vp token
  src/mdoc/index.ts
Labels: none

fix Presentation obj in exampleApp
  example/src/thunks/presentation.ts
Labels: example

chore: IoReactNativeCbor 1.2.4
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

feat: [WLEO-370] Update library dependencies adapting vpToken in mdoc format (#227)
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
  src/credential/presentation/types.ts
  src/mdoc/index.ts
  src/sd-jwt/index.ts
  yarn.lock
Labels: example

chore: Release v1.6.2
  package.json
Labels: none

add dcql dependecy
  package.json
  yarn.lock
Labels: none

add comment
  src/credential/presentation/05-verify-request-object.ts
Labels: none

add evaluate dcql query
  src/credential/presentation/07-evaluate-dcql-query.ts
Labels: none

refactor evaluator and send response
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/types.ts
Labels: none

refactor presentation choosing PE or DCQL
  example/src/thunks/presentation.ts
  src/credential/presentation/index.ts
Labels: example

chore: update env values
  example/.env.example
Labels: example

fix: add env cp
  example/.github/publish-app.yml
Labels: example

feat: [SIW-2159] Handle presentation errors (#223)
  example/src/screens/PresentationScreen.tsx
  example/src/thunks/presentation.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/05-verify-request-object.test.ts
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/utils/__tests__/errors.test.ts
  src/utils/error-codes.ts
  src/utils/errors.ts
Labels: example

chore: Release 0.30.0
  package.json
Labels: none

chore: Release 0.30.0 (#228)
  package.json
Labels: none

feat: add function to get the WIA in multiple formats
  openapi/wallet-provider.yaml
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/types.ts
  src/wallet-instance-attestation/utils.ts
  src/wallet-instance-attestation/v2/issuing.ts
Labels: none

fiix: [WLEO-350] fixed parameters passing for DCQL presentations, with retrocompatibility with Presentation Definition
  example/src/thunks/presentation.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/types.ts
Labels: example

chore: improve JSDoc comments
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/v2/issuing.ts
Labels: none

fix: [WLEO-406] Updated sd-jwt and mdoc credential parsers to exclude non mandatory claims that are not present and throw errors in case mandatory claims are not present, too
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credentials.test.ts
  src/credential/issuance/__tests__/utils/07-verify-and-parse-credentials-mocks.ts
  src/credential/issuance/__tests__/utils/07-verify-and-parse-credentials-utils.ts
Labels: none

chore: [WLEO-406] Added comments on new exports of internal methods
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore : [WLEO-350] Remove vct for CredentialFormat "vc+sd-jwt" due to it being unused
  example/ios/Podfile.lock
  example/src/thunks/presentation.ts
  src/credential/presentation/types.ts
Labels: example

refactor: [WLEO-409] renamed mocks in inputs
  src/credential/issuance/__tests__/07-verify-and-parse-credentials.test.ts
  src/credential/issuance/__tests__/utils/07-verify-and-parse-credentials-inputs.ts
Labels: none

chore: [WLEO-350] Removed unnecessary comment
  src/credential/presentation/05-verify-request-object.ts
Labels: none

chore: [WLEO-350] Removed lines to remove differences from base branch
  src/credential/presentation/05-verify-request-object.ts
Labels: none

chore: align to new wallet attestation
  example/src/screens/WalletInstanceScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/presentation.ts
  example/src/thunks/trustmark.ts
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
  src/wallet-instance-attestation/utils.ts
  src/wallet-instance-attestation/v2/issuing.ts
Labels: example

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
