Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

chore: keep attestation v0.7.1 for testing purpose
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/attestation.ts
  example/src/thunks/presentation.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.deprecated.ts
Labels: example

chore: fix compilation errors
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
Labels: example

docs: update README
  src/wallet-instance-attestation/README.md
Labels: none

chore: use new WIA in trustmark tests
  src/credential/trustmark/__tests__/get-credential-trustmark.test.ts
Labels: none

fix: [WLEO-410] Add new entries to the SdJwt4VC type
  example/ios/Podfile.lock
  src/sd-jwt/types.ts
Labels: example

refactor : [WLEO-410] Ran linter
  src/sd-jwt/types.ts
Labels: none

fix: [WLEO-406,WLEO-410] Moved utils tests and changed input data for src/sd-jwt tests
  package.json
  src/credential/issuance/__tests__/07-verify-and-parse-credentials.test.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/utils/credential/issuance/07-verify-and-parse-credentials-inputs.ts
  src/utils/credential/issuance/07-verify-and-parse-credentials-utils.ts
Labels: none

chore: [WLEO-350] Remove console.log
  src/credential/presentation/08-send-authorization-response.ts
Labels: none

chore: fix typo
  example/src/store/reducers/attestation.ts
Labels: example

chore: [WLEO-406] Take the right element while building parseCredentialMDoc error response
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

refactor: [WLEO-406] Ran linter
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

feat: [SIW-2089] Get Wallet Instance Attestation in multiple formats (#231)
  example/src/screens/WalletInstanceScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/presentation.ts
  example/src/thunks/trustmark.ts
  openapi/wallet-provider.yaml
  src/credential/trustmark/__tests__/get-credential-trustmark.test.ts
  src/wallet-instance-attestation/README.md
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.deprecated.ts
  src/wallet-instance-attestation/types.ts
Labels: example

fix: [WLEO-406,WLEO-410] Updated sd-jwt and mdoc credential parsers (#229)
  example/ios/Podfile.lock
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credentials.test.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/types.ts
  src/utils/credential/issuance/07-verify-and-parse-credentials-inputs.ts
  src/utils/credential/issuance/07-verify-and-parse-credentials-utils.ts
Labels: example

feat: [WLEO-350] Add support for DCQL in OID4VP Presentations (#230)
  example/src/thunks/presentation.ts
  package.json
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  yarn.lock
Labels: example

feat(errors): introduce federation-specific error classes for trust chain validation
  src/trust/chain.ts
  src/trust/errors.ts
  src/trust/index.ts
Labels: none

fix(errors): remove redundant comment in TrustChainEmptyError class
  src/trust/errors.ts
Labels: none

feat(validation): enhance trust chain validation with X.509 certificate checks
  package.json
  src/trust/chain.ts
  src/trust/errors.ts
  src/trust/index.ts
  src/trust/utils.ts
  yarn.lock
Labels: none

deps: Update code-review action deps
  .github/workflows/code-review.yaml
Labels: ci

deps: Update code-review workflow deps (#234)
  .github/workflows/code-review.yaml
Labels: ci

feat: [SIW-2462] introduce federation-specific error classes for trust chain validation (#232)
  src/trust/chain.ts
  src/trust/errors.ts
  src/trust/index.ts
Labels: none

chore: Release v1.7.0
  package.json
Labels: none

deps: update cbor
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/mdoc/index.ts
  yarn.lock
Labels: example

deps: [WLEO-439] Update CBOR and x5chain parameter when verifying credential (#235)
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/mdoc/index.ts
  yarn.lock
Labels: example

chore: Release v1.7.1
  package.json
Labels: none

chore: remove deprecated code
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/presentation.ts
  src/trust/types.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.deprecated.ts
Labels: example

feat: [WLEO-408] Added new methods Credential.Issuance.getIssuerConfigOIDFED and CredentialIssuerRationalizationOIDFED to support fetching issuer metatadta from the OpenID Federation endpoint
  example/ios/Podfile.lock
  example/src/thunks/pid.ts
  src/credential/issuance/02-get-issuer-config.ts
  src/credential/issuance/index.ts
  src/entity/trust/types.ts
  src/index.ts
Labels: example

refactor: [WLEO-408] Ran linter
  src/credential/issuance/02-get-issuer-config.ts
  src/credential/issuance/index.ts
  src/entity/trust/types.ts
  src/index.ts
Labels: none

chore: update wallet attestation endpoint
  openapi/wallet-provider.yaml
  src/wallet-instance-attestation/issuing.ts
Labels: none

chore: update wallet attestation endpoint
  openapi/wallet-provider.yaml
  src/wallet-instance-attestation/issuing.ts
Labels: none

chore!: [SIW-2111] Remove deprecated code from WIA 0.7.1 (#237)
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/presentation.ts
  openapi/wallet-provider.yaml
  src/trust/types.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.deprecated.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

chore: use oauth-client-attestation-pop+jwt for PoP token typ
  src/utils/pop.ts
Labels: none

chore: fix parsing errors
  src/credential/issuance/06-obtain-credential.ts
  src/utils/par.ts
  src/wallet-instance-attestation/types.ts
Labels: none

chore: support multiple credentials in PAR request
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/__tests__/03-start-user-authorization.test.ts
  src/utils/par.ts
Labels: none

chore: edit obtain credential function
  example/src/thunks/pid.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/types.ts
Labels: example

chore: remove log
  src/credential/issuance/03-start-user-authorization.ts
Labels: none

chore: remove format from authorization_details
  src/credential/issuance/03-start-user-authorization.ts
Labels: none

feat(trust): add TrustScreen and trust chain validation functionality
  example/.env.example
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/config.ts
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/TrustScreen.tsx
  example/src/store/reducers/trustValidation.ts
  example/src/store/store.ts
  example/src/thunks/trustValidation.ts
  example/src/utils/environment.ts
  example/yarn.lock
  package.json
  src/trust/chain.ts
  yarn.lock
Labels: example

feat(certificates): add x5c field to entity statements and mock certificate chain verification
  __mocks__/@pagopa/io-react-native-crypto/index.ts
  src/trust/__mocks__/entity-statements.ts
Labels: none

feat(documentation): add README for Trust Chain validation module
  src/trust/README.md
Labels: none

fix(dependencies): update io-react-native-crypto to version 1.1.1
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example
