Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

ci: Add release pipeline
  .github/workflows/publish.yaml
  README.md
Labels: ci

Add PID issuing
  example/src/App.tsx
  src/pid/index.ts
  src/pid/issuing.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

Add comment
  example/src/App.tsx
  src/pid/issuing.ts
Labels: example

Add RP integration
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
Labels: none

Fix test
  src/rp/__test__/index.test.ts
  src/rp/types.ts
Labels: none

Update README.md
  README.md
Labels: none

Export errors
  src/index.ts
Labels: none

Fix fetch
  src/rp/index.ts
  src/wallet-instance-attestation/issuing.ts
Labels: none

Add error throw
  src/rp/index.ts
Labels: none

let to const
  src/rp/index.ts
Labels: none

increase package version
  package.json
Labels: none

feat: Add RP authentication
  package.json
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
Labels: none

chore: Export errors
  src/index.ts
Labels: none

Add PID issuing comment
  example/src/App.tsx
  src/index.ts
  src/pid/issuing.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

Remove console.log
  src/sd-jwt/index.ts
Labels: none

Remove generation of random key
  example/src/App.tsx
  package.json
  src/pid/issuing.ts
  yarn.lock
Labels: example

Increase version
  package.json
Labels: none

feat: PID issuing
  example/src/App.tsx
  package.json
  src/index.ts
  src/pid/index.ts
  src/pid/issuing.ts
  src/sd-jwt/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example

define scenario structure
  example/src/scenarios/index.tsx
  example/src/scenarios/types.tsx
Labels: example

define a scenarios in own files
  example/src/scenarios/decode-pid.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/verify-pid.tsx
Labels: example

reference scenarios in app
  example/src/App.tsx
Labels: example

fix lint
  example/src/App.tsx
Labels: example

Update Podfile.lock
  example/ios/Podfile.lock
Labels: example

show test result
  example/ios/Podfile.lock
  example/src/App.tsx
Labels: example

Add minor fix
  example/src/App.tsx
  src/sd-jwt/index.ts
Labels: example

Increase version
  package.json
Labels: none

fix: Adds additional check over the PID
  example/src/App.tsx
  package.json
  src/sd-jwt/index.ts
Labels: example

fix qr decode
  package.json
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  yarn.lock
Labels: none

Refactor example scenarios (#13)
  example/src/App.tsx
  example/src/scenarios/decode-pid.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/index.tsx
  example/src/scenarios/types.tsx
  example/src/scenarios/verify-pid.tsx
Labels: example

add test scenario
  example/src/App.tsx
  example/src/scenarios/decode-qr-from-rp.tsx
  example/src/scenarios/index.tsx
Labels: example

fix lint
  example/src/scenarios/decode-qr-from-rp.tsx
  src/rp/__test__/index.test.ts
Labels: example

Fix QR code resolution (#15)
  example/src/App.tsx
  example/src/scenarios/decode-qr-from-rp.tsx
  example/src/scenarios/index.tsx
  package.json
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  yarn.lock
Labels: example

fix: Update PID provider base url
  example/src/scenarios/get-pid.tsx
Labels: example

fix: Update PID provider base url
  example/src/scenarios/get-pid.tsx
Labels: example

cross device flow
  example/src/App.tsx
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/index.tsx
Labels: example

typo
  example/src/scenarios/cross-device-flow-with-rp.tsx
Labels: example

chore: [SIW-271] Cross-device flow test in example app (#17)
  example/src/App.tsx
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/index.tsx
Labels: example

Add type export
  src/pid/sd-jwt/index.ts
Labels: none

Increase version
  package.json
Labels: none

chore: Export `pidWithToken` type
  package.json
  src/pid/sd-jwt/index.ts
Labels: none
