Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

fix: RelyingPartyConfig
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/v1.0.0/mappers.ts
  src/trust/v1.0.0/types.ts
Labels: none

fix: fetchAndParseEntityConfiguration JSDOCs version
  src/trust/v1.3.3/entities.ts
Labels: none

chore: removed vp_formats from RelyingPartyConfig
  src/credential/presentation/api/RelyingPartyConfig.ts
Labels: none

chore: replace Error with IoWalletError
  src/credential/issuance/common/authorization.ts
  src/credential/issuance/v1.0.0/02-start-user-authorization.ts
  src/credential/issuance/v1.0.0/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
Labels: none

feat: [SIW-3907] Add issuance authorization v1.3 with IO Wallet SDK integration (#319)
  example/src/utils/credential.ts
  package.json
  src/api/index.ts
  src/credential/issuance/api/03-complete-user-authorization.ts
  src/credential/issuance/api/types.ts
  src/credential/issuance/common/authorization.ts
  src/credential/issuance/index.ts
  src/credential/issuance/v1.0.0/02-start-user-authorization.ts
  src/credential/issuance/v1.0.0/types.ts
  src/credential/issuance/v1.3.3/01-evaluate-issuer-trust.ts
  src/credential/issuance/v1.3.3/02-start-user-authorization.ts
  src/credential/issuance/v1.3.3/03-complete-user-authorization.ts
  src/credential/issuance/v1.3.3/04-authorize-access.ts
  src/credential/issuance/v1.3.3/__tests__/mappers.test.ts
  src/credential/issuance/v1.3.3/index.ts
  src/credential/issuance/v1.3.3/mappers.ts
  src/utils/errors.ts
  src/utils/misc.ts
  yarn.lock
Labels: example

chore: update Io Wallet SDK
  package.json
  yarn.lock
Labels: none

chore: add createVerifyJwtFromJwks
  src/credential/issuance/mrtd-pop/01-verify-and-parse-challenge-info.ts
  src/credential/issuance/mrtd-pop/02-init-challenge.ts
  src/utils/callbacks.ts
Labels: none

chore: update tests
  src/credential/issuance/mrtd-pop/03-validate-challenge.ts
  src/credential/issuance/mrtd-pop/__tests__/01-verify-and-parse-challenge-info.test.ts
  src/credential/issuance/mrtd-pop/__tests__/02-init-challenge.test.ts
  src/credential/issuance/mrtd-pop/__tests__/03-validate-challenge.test.ts
Labels: none

chore: remove unnecessary zod types
  src/credential/issuance/api/mrtd-pop/types.ts
  src/credential/issuance/mrtd-pop/types.ts
Labels: none

chore: update IO Wallet SDK
  package.json
  yarn.lock
Labels: none

chore: fix tests
  src/credential/__mocks__/sd-jwt.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: none

chore: map sdk presentation errors to io-rn-wallet presentation errors
  package.json
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/common/utils.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/presentation/v1.3.3/03-get-request-object.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/errors.ts
  yarn.lock
Labels: none

chore: removed never
  src/credential/presentation/v1.3.3/errors.ts
Labels: none

chore: add sendAuthorizationErrorResponse to step 06 1.3
  example/src/thunks/presentation.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/common/utils.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/errors.ts
  src/credential/presentation/v1.3.3/types.ts
  src/credential/presentation/v1.3.3/utils.ts
  src/trust/v1.0.0/types.ts
Labels: example

feat: Add initial documentation for IO React Native Wallet library
  AGENTS.md
  CLAUDE.md
  docs/agents/architecture.md
  docs/agents/commands.md
  docs/agents/conventions.md
  docs/agents/testing.md
Labels: docs

chore: check clientId match in step 04 1.3
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
Labels: none

chore: rename files
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/03-get-request-object.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/sdkErrorMapper.ts
Labels: none

chore: add prepareRemotePresentations in step 6 1.3
  example/src/thunks/presentation.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/mappers.ts
  src/credential/presentation/v1.3.3/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
Labels: example

chore: removed unused attribute from RelyingPartyConfig
  src/credential/presentation/api/RelyingPartyConfig.ts
  src/credential/presentation/v1.0.0/mappers.ts
  src/credential/presentation/v1.3.3/mappers.ts
  src/trust/v1.0.0/types.ts
  yarn.lock
Labels: none

fix: yarn.lock
  yarn.lock
Labels: none

chore: yarn.lock
  yarn.lock
Labels: none

test: fix issuance test
  src/credential/issuance/v1.3.3/__tests__/mappers.test.ts
  src/credential/issuance/v1.3.3/mappers.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
Labels: none

docs: Update AGENTS.md with Plan Mode guidelines and documentation structure
  AGENTS.md
Labels: none

feat: [SIW-3908] Add credential request, verify and parse v1.3 with IO Wallet SDK integration (#320)
  package.json
  scripts/create-test-sdjwt.js
  src/credential/__mocks__/sd-jwt.ts
  src/credential/issuance/common/02-start-user-authorization.ts
  src/credential/issuance/common/06-verify-and-parse-credential.mdoc.ts
  src/credential/issuance/common/06-verify-and-parse-credential.sdjwt.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/credential/issuance/v1.3.3/05-obtain-credential.ts
  src/credential/issuance/v1.3.3/06-verify-and-parse-credential.ts
  src/credential/issuance/v1.3.3/index.ts
  src/credential/issuance/v1.3.3/types.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/utils/errors.ts
  yarn.lock
Labels: none

docs: Update conventions.md to include guidelines for version-specific types
  docs/agents/conventions.md
Labels: docs

chore: applied suggestion for RelyingPartyConfig
  src/credential/presentation/api/RelyingPartyConfig.ts
Labels: none

chore: import RequestObjectPayload from sdk
  src/credential/presentation/common/utils.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/04-verify-request-object.ts
  src/credential/presentation/v1.3.3/types.ts
Labels: none

chore: removed SdkParseAuthorizeRequestError case from mapSdkRequestObjectError
  src/credential/presentation/v1.3.3/sdkErrorMapper.ts
Labels: none

chore: [SIW-3906] Migrate MRTD PoP issuance to IO Wallet SDK (#321)
  example/src/thunks/mrtd.ts
  src/credential/issuance/api/mrtd-pop/types.ts
  src/credential/issuance/mrtd-pop/01-verify-and-parse-challenge-info.ts
  src/credential/issuance/mrtd-pop/02-init-challenge.ts
  src/credential/issuance/mrtd-pop/03-validate-challenge.ts
  src/credential/issuance/mrtd-pop/__tests__/01-verify-and-parse-challenge-info.test.ts
  src/credential/issuance/mrtd-pop/__tests__/02-init-challenge.test.ts
  src/credential/issuance/mrtd-pop/__tests__/03-validate-challenge.test.ts
  src/credential/issuance/mrtd-pop/types.ts
  src/utils/callbacks.ts
Labels: example

chore: remove PID module
  src/index.ts
  src/pid/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
Labels: none

chore: validateAuthorizationRequestParams in step 1 v.1.3.3
  src/credential/presentation/api/types.ts
  src/credential/presentation/v1.0.0/01-start-flow.ts
  src/credential/presentation/v1.3.3/01-start-flow.ts
Labels: none

chore: removed error from sdkErrorMapper
  src/credential/presentation/v1.3.3/sdkErrorMapper.ts
Labels: none

chore: update IO Wallet SDK to 1.0.0
  package.json
  yarn.lock
Labels: none

chore: update io-wallet-sdk deps
  package.json
  src/credential/presentation/v1.0.0/01-start-flow.ts
  src/credential/presentation/v1.3.3/01-start-flow.ts
  yarn.lock
Labels: none

chore: update version of dcql, and update step 5 and 6 for remote presentation
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/types.ts
  src/credential/presentation/v1.0.0/utils.sd-jwt.ts
  src/credential/presentation/v1.0.0/utils.ts
  src/credential/presentation/v1.3.3/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/utils.mdoc.ts
  src/mdoc/index.ts
  src/sd-jwt/index.ts
  yarn.lock
Labels: example

chore: fix Jest transform
  package.json
Labels: none

refactor: organized folder
  src/credential/presentation/api/05-evaluate-dcql-query.ts
  src/credential/presentation/api/06-send-authorization-response.ts
  src/credential/presentation/api/types.ts
  src/credential/presentation/common/utils/dcql.ts
  src/credential/presentation/common/utils/http.ts
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/v1.0.0/04-verify-request-object.ts
  src/credential/presentation/v1.0.0/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/06-send-authorization-response.ts
  src/credential/presentation/v1.0.0/__tests__/fetchJwksFromConfig.test.ts
  src/credential/presentation/v1.0.0/types.ts
  src/credential/presentation/v1.0.0/utils.jwks.ts
  src/credential/presentation/v1.0.0/utils.ts
  src/credential/presentation/v1.3.3/05-evaluate-dcql-query.ts
  src/credential/presentation/v1.3.3/06-send-authorization-response.ts
  src/credential/presentation/v1.3.3/utils.mdoc.ts
Labels: none

Revert "Merge remote-tracking branch 'origin/io-wallet-sdk-1-0-0' into SIW-3841-align-presentation-to-1.3.3"
  package.json
  yarn.lock
Labels: none

chore: update dependencies
  package.json
  yarn.lock
Labels: none

chore: fix Metro resolution issues
  example/metro.config.js
Labels: example
