Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*

rename
  README.md
  example/src/App.tsx
  package.json
  tsconfig.json
Labels: example

add pid
  README.md
  package.json
  src/index.ts
  src/pid/__test__/index.test.ts
  src/pid/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
  yarn.lock
Labels: none

implement pagopa rules
  package.json
  yarn.lock
Labels: none

lint configuration
  .eslintrc.js
Labels: none

fix lint
  src/index.ts
Labels: none

fixes
  src/pid/sd-jwt/index.ts
Labels: none

define types
  package.json
  src/wallet-instance-attestation/types.ts
  yarn.lock
Labels: none

decode
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/index.ts
Labels: none

expose
  README.md
  src/index.ts
Labels: none

Add verification of PID and some fix
  .eslintrc.js
  .npmrc
  README.md
  example/app.json
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/yarn.lock
  package.json
  src/index.ts
  src/pid/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
  tsconfig.json
  yarn.lock
Labels: example

Add .gitattributes
  .gitattributes
Labels: none

Fix lint
  .eslintrc.js
  package.json
  src/__tests__/index.test.ts
  yarn.lock
Labels: none

Fix code review pipeline
  .github/workflows/code-review.yaml
Labels: ci

Fix code review pipeline
  .github/workflows/code-review.yaml
Labels: ci

Update code-review.yaml
  .github/workflows/code-review.yaml
Labels: ci

Update npmrc
  .github/workflows/code-review.yaml
  .npmrc
Labels: ci

Apply suggestions from @hevelius
  example/src/App.tsx
Labels: example

Upgrade io-react-native-jwt
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

Fix hash and format
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
Labels: none

Add claims validation
  example/src/App.tsx
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
  src/pid/sd-jwt/verifier.ts
  src/utils/errors.ts
Labels: example

Rename error
  src/pid/sd-jwt/verifier.ts
  src/utils/errors.ts
Labels: none

Refactor
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/index.ts
  src/pid/sd-jwt/types.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/converters.ts
  src/sd-jwt/types.ts
  src/sd-jwt/verifier.ts
  src/utils/jwk.ts
Labels: none

Refactor
  src/pid/sd-jwt/index.ts
  src/sd-jwt/index.ts
Labels: none

Change docs
  src/sd-jwt/index.ts
Labels: none

Add unit test
  src/__tests__/index.test.ts
  src/pid/__test__/index.test.ts
  src/pid/sd-jwt/index.ts
  src/sd-jwt/__test__/converters.test.ts
  src/sd-jwt/index.ts
Labels: none

Update README
  README.md
Labels: none

Integrate io-react-native-jwt
  src/wallet-instance-attestation/index.ts
Labels: none

Fix types
  src/wallet-instance-attestation/types.ts
Labels: none

Fix import
  src/wallet-instance-attestation/types.ts
Labels: none

feat: Add `WalletInstanceAttestation` module
  README.md
  src/index.ts
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/types.ts
Labels: none

Add Wallet Instance Attestation issuing
  .github/workflows/code-review.yaml
  .npmrc
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/yarn.lock
  package.json
  src/index.ts
  src/utils/errors.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example, ci

Update code-review.yaml
  .github/workflows/code-review.yaml
Labels: ci

Fix yarn.lock
  example/yarn.lock
  yarn.lock
Labels: example

Update README
  README.md
Labels: none

Add Issuing class
  README.md
  example/src/App.tsx
  src/index.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

feat: Add Wallet Instance Attestation issuing
  .github/workflows/code-review.yaml
  .npmrc
  README.md
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/yarn.lock
  package.json
  src/index.ts
  src/utils/errors.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example, ci

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add release pipeline
  .github/workflows/publish.yaml
Labels: ci

Update README
  README.md
Labels: none
