Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

chore: generate random key
  example/src/App.tsx
  example/src/contexts.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

chore: refactor
  example/package.json
  example/src/App.tsx
  example/src/scenarios/TestScenario.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/index.tsx
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/scenarios/types.ts
  example/yarn.lock
  src/sd-jwt/__test__/converters.test.js
  src/sd-jwt/verifier.js
Labels: example

chore: adjustments
  example/src/App.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/production/get-credential.ts
Labels: example

chore: adjustments
  example/src/App.tsx
  example/src/contexts.ts
  example/src/scenarios/index.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/scenarios/production/prepare-integrity-context.ts
Labels: example

chore: adjustments
  src/utils/integrity.ts
Labels: none

chore: add disabled test scenarios
  example/src/App.tsx
  example/src/scenarios/TestScenario.tsx
  example/src/scenarios/production/prepare-integrity-context.ts
Labels: example

chore: remove unused styles
  example/src/App.tsx
Labels: example

chore: adjustments
  example/src/App.tsx
Labels: example

chore: adjustments
  example/src/scenarios/index.ts
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/production/get-attestation.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

refactor: code structure
  example/src/contexts.ts
  example/src/scenarios/index.tsx
  example/src/scenarios/production/prepare-integrity-context.ts
  example/src/utils/integrity/index.ts
  example/src/utils/integrity/integrityAndroid.ts
  example/src/utils/integrity/integrityIos.ts
  src/utils/integrity.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

fix: public key jwk thumbprint
  src/wallet-instance-attestation/issuing.ts
Labels: none

chore: update /token response
  openapi/wallet-provider.yaml
Labels: none

refactor: use platform specific file extensions instead
  example/src/scenarios/production/prepare-integrity-context.ts
  example/src/utils/integrity/index.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  tsconfig.json
Labels: example

refactor: [SIW-1168] Project structure (#85)
  example/package.json
  example/src/App.tsx
  example/src/scenarios/TestScenario.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/index.tsx
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/scenarios/types.ts
  example/yarn.lock
  src/sd-jwt/__test__/converters.test.js
  src/sd-jwt/verifier.js
Labels: example

feat: add ios implementation
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  example/yarn.lock
Labels: example

chore: update dev proxy base URL
  example/dev-proxy/app.py
Labels: example

refactor: ios attestation flow with new integrity package version
  example/ios/Podfile.lock
  example/package.json
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  example/yarn.lock
Labels: example

revert: update dev proxy base URL
  example/dev-proxy/app.py
Labels: example

chore: remove console logs
  example/src/scenarios/production/create-wallet-instance.ts
Labels: example

fix: safe area
  example/src/App.tsx
Labels: example

chore: remove unused file
  example/src/App.tsx
  example/src/scenarios/index.tsx
Labels: example

chore: remove unwanted changes
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-pid.ts
Labels: example

chore: remove commented code
  src/wallet-instance-attestation/issuing.ts
Labels: none

chore: remove unwanted changes
  example/src/scenarios/poc/get-pid.ts
Labels: example

docs: update documentation
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/scenarios/production/get-attestation.ts
  example/src/scenarios/production/prepare-integrity-context.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  src/utils/integrity.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

chore: remove unused code
  example/src/scenarios/index.ts
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
Labels: example

fix: import
  example/src/App.tsx
Labels: example

chore: [SIW-1202] Remove poc scenarios (#87)
  example/src/App.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
Labels: example

refactor: folder structure
  example/src/scenarios/component/TestScenario.tsx
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/index.ts
  example/src/scenarios/prepare-integrity-context.ts
Labels: example

feat: [SIW-1149] Add getAttestation (#86)
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/component/TestScenario.tsx
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/index.ts
  example/src/scenarios/prepare-integrity-context.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  example/yarn.lock
  openapi/wallet-provider.yaml
  src/index.ts
  src/utils/integrity.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
  tsconfig.json
Labels: example

chore: first attempt at catching redirect
  example/dev-proxy/app.py
  example/dev-proxy/templates/redirect.html
  example/ios/Podfile.lock
  example/package-lock.json
  example/package.json
  example/src/App.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/test-redirect.ts
  example/yarn.lock
  package.json
  src/00-login-flow.ts
  src/index.ts
  src/utils/errors.ts
  yarn.lock
Labels: example

chore: use base64url for ios integrity keys
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  src/utils/integrity.ts
Labels: example

fix: import
  example/src/scenarios/prepare-integrity-context.ts
  example/src/utils/integrity/integrity.ios.ts
Labels: example

chore: tests
  example/src/App.tsx
  example/src/scenarios/get-pid.ts
  example/src/scenarios/index.ts
  example/src/scenarios/test-redirect.ts
  example/yarn.lock
  src/00-login-flow.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/index.ts
  src/index.ts
  src/utils/identification.ts
  src/utils/par.ts
Labels: example

ci: add client generation to publish workflow
  .github/workflows/publish.yaml
Labels: ci

chore: [SIW-1208] Use base64url for iOS integrity keys (#88)
  example/src/scenarios/prepare-integrity-context.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  src/utils/integrity.ts
Labels: example

refactor: hold the HTTP status code in WalletProviderResponseError and WalletInstanceAttestationIssuingError
  src/client/index.ts
  src/utils/errors.ts
Labels: none

chore: update the wallet provider OpenAPI spec
  openapi/wallet-provider.yaml
Labels: none

feat: add function to get the remote state of a wallet instance
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance/index.ts
Labels: none

feat: finalize auth flow
  example/.env.example
  example/dev-proxy/.env.example
  example/dev-proxy/app.py
  example/dev-proxy/templates/redirect.html
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/get-pid.ts
  example/src/scenarios/index.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/index.ts
  src/utils/identification.ts
  src/utils/par.ts
Labels: example

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
