Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

feat(mdoc): improve verifySignature and verifyChain
  src/mdoc/index.ts
  src/utils/crypto.ts
Labels: none

bump @pagopa/io-react-native-iso18013
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/ProximityScreen.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

feat: [SIW-2794] Update React Native to version 0.78.3 (#261)
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
  .gitignore
  .node-version
  .nvmrc
  example/.node-version
  example/.nvmrc
  example/.ruby-version
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/File.swift
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.h
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/AppDelegate.swift
  example/ios/IoReactNativeWalletExample/main.m
  example/ios/IoReactNativeWalletExampleTests/Info.plist
  example/ios/IoReactNativeWalletExampleTests/IoReactNativeWalletExampleTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/src/components/debug/DebugPrettyPrint.tsx
  example/src/utils/strings.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, ci

feat: Refactor applyPath to createNestedProperty for improved structure handling and localization
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: update deps
  example/Gemfile.lock
  example/ios/Podfile.lock
  example/yarn.lock
  yarn.lock
Labels: example

feat: Update labels for education degree to improve clarity and localization
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
Labels: none

chore: remove unwanted changes
  example/android/gradle.properties
  example/ios/IoReactNativeWalletExample/AppDelegate.swift
  example/package.json
  example/yarn.lock
Labels: example

Disable dark mode on Android
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
Labels: example

deps: update io-react-native-login-utils
  example/android/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Labels: example

chore: remove comment
  example/.env.example
Labels: example

feat: Update prepack script to include yarn generate for improved build process
  package.json
Labels: none

refactor: decouple x5chain verification from the issuer's EC
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  src/credential/issuance/02-evaluate-issuer-trust.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/mdoc/index.ts
  src/utils/crypto.ts
Labels: example

docs: uptade README accordingly with the changes proposed in this task
  src/credential/issuance/README.md
Labels: none

style: clean code
  example/src/components/TestCieL3Scenario.tsx
Labels: example

wip
  example/src/screens/ProximityScreen.tsx
  example/src/utils/proximity.ts
Labels: example

wip
  example/src/utils/proximity.ts
Labels: example

feat: [SIW-2789] Add proximity presentation in the example app (#259)
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/utils/proximity.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

feat: enable compareKeysByThumbprint for mdoc credentials
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/utils/crypto.ts
Labels: none

docs: improve convertBase64DerToPem docs
  src/mdoc/index.ts
  src/utils/crypto.ts
Labels: none

chore: remove code duplication
  example/src/screens/ProximityScreen.tsx
  example/src/utils/credential.ts
Labels: example

chore: [SIW-2797] Update `prepack` script (#260)
  .github/workflows/publish.yaml
  package.json
Labels: ci

style: unified parsePublicKey and getSigningJwk in a dedicated function
  src/mdoc/index.ts
  src/utils/crypto.ts
Labels: none

feat: Refactor credential parsing logic for improved clarity and structure
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

refactor: verify the mdoc signature using only the leaf certificate of the x5chain
  src/mdoc/index.ts
Labels: none

style: remove code duplication
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/utils/crypto.ts
Labels: none

fix: wait for isSameThumbprint result
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

feat: [SIW-2740] Add verify and parse mdoc (#265)
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/build.gradle
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/cie/PinDialog.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  example/src/utils/proximity.ts
  example/yarn.lock
  jestSetup.js
  package.json
  src/credential/issuance/02-evaluate-issuer-trust.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/const.ts
  src/mdoc/const.ts
  src/mdoc/converter.ts
  src/mdoc/index.ts
  src/mdoc/utils.ts
  src/trust/types.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example

feat: Update dependencies in Podfile.lock for improved compatibility
  example/ios/Podfile.lock
Labels: example

feat: Update icons and labels for education degree and enrollment for improved clarity
  example/src/screens/CredentialScreen.tsx
  example/src/utils/ui.ts
Labels: example

chore: update version to 2.0.0-next.7
  package.json
Labels: none

chore: release `2.0.0-next.7` (#269)
  package.json
Labels: none

chore: fix linting
  .eslintignore
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

chore: fix linting
  .eslintignore
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

deps: pin version
  package.json
  yarn.lock
Labels: none

fix(mdoc parsing): adjust check on missing attributes
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: none

chore: remove logs
  src/utils/crypto.ts
Labels: none

fix: [SIW-2840] Fix missing attributes in `mdoc` format (#271)
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/utils/crypto.ts
Labels: none

chore: bump version to `2.0.0-next.8`
  package.json
Labels: none

chore: release `2.0.0-next.8` (#272)
  package.json
Labels: none

feat: [SIW-2523, SIW-2706] Add support for education_degree and education_enrollment (#266)
  example/ios/Podfile.lock
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/utils/ui.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
Labels: example

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
