Repository pagopa/io-react-native-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, ci

chore: add key-attestations endpoint
  openapi/wallet-provider.yaml
  src/wallet-unit-attestation/v1.3.3/issuing.ts
Labels: none

chore: edit key attestation response
  src/wallet-unit-attestation/v1.3.3/issuing.ts
  src/wallet-unit-attestation/v1.3.3/types.ts
Labels: none

chore: fix test
  src/wallet-unit-attestation/v1.3.3/__tests__/issuing.test.ts
Labels: none

chore: fix wallet-provider.yaml
  openapi/wallet-provider.yaml
Labels: none

chore: fix more linting
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  example/src/screens/SettingsScreen.tsx
  example/src/screens/cie/CieIdAuthenticationScreen.tsx
  example/src/screens/cie/CieInternalAuthenticationScreen.tsx
  example/src/screens/login/PidLoginScreen.tsx
  example/src/screens/login/PidSpidIdpSelectionScreen.tsx
  example/src/store/storage.ts
  src/credential/issuance/common/errors.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/credential/issuance/v1.3.3/05-obtain-credential.ts
  src/credential/issuance/v1.3.3/__tests__/05-obtain-credential.test.ts
  src/credential/issuance/v1.3.3/__tests__/06-verify-and-parse-credential.test.ts
  src/credential/issuance/v1.3.3/mappers.ts
  src/credential/offer/common/errors.ts
  src/credential/presentation/v1.0.0/05-verify-request-object.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credentials-catalogue/v1.3.3/__tests__/fetch-translations.test.ts
  src/sd-jwt/__fixtures__/sd-jwt.ts
  src/sd-jwt/__test__/utils.test.ts
  src/trust/common/errors.ts
  src/trust/v1.0.0/__fixtures__/entity-configurations.ts
  src/trust/v1.0.0/__fixtures__/entity-statements.ts
  src/utils/zod.ts
Labels: example

chore: fix more linting
  debug-logging-server/app.js
  debug-logging-server/routes/index.js
  eslint.config.mjs
  example/src/navigator/MainStackNavigator.tsx
  example/src/navigator/utils.ts
  src/credential/issuance/mrtd-pop/__tests__/03-validate-challenge.test.ts
  src/credential/issuance/v1.0.0/05-obtain-credential.ts
  src/credential/issuance/v1.0.0/__tests__/02-start-user-authorization.test.ts
  src/credential/issuance/v1.0.0/__tests__/06-verify-and-parse-credential.test.ts
  src/credential/issuance/v1.3.3/__tests__/05-obtain-credential.test.ts
  src/credential/presentation/common/utils/sd-jwt.ts
  src/credential/presentation/v1.0.0/06-evaluate-dcql-query.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.3.3/05-verify-request-object.ts
  src/credential/status/v1.0.0/01-status-assertion.ts
  src/mdoc/index.ts
  src/trust/common/build-chain.ts
  src/trust/v1.0.0/__fixtures__/entity-statements.ts
  src/utils/errors.ts
  src/utils/mappers.ts
  src/utils/misc.ts
  src/wallet-unit-attestation/v1.3.3/__tests__/issuing.test.ts
Labels: example

chore: close catalog open issues
  src/credentials-catalogue/api/DigitalCredentialsCatalogue.ts
  src/credentials-catalogue/v1.3.3/__tests__/mappers.test.ts
  src/credentials-catalogue/v1.3.3/mappers.ts
Labels: none

chore: fix mocks and conditionally expects
  src/credential/issuance/mrtd-pop/__tests__/02-init-challenge.test.ts
  src/credential/issuance/v1.0.0/__tests__/03-complete-user-authorization.test.ts
  src/credential/presentation/v1.0.0/__tests__/05-evaluate-dcql-query.test.ts
  src/credential/presentation/v1.0.0/__tests__/06-send-authorization-response.test.ts
  src/credential/status/v1.0.0/__tests__/02-verify-and-parse-status-assertion.test.ts
  src/trust/v1.0.0/__fixtures__/entity-statements.ts
  src/trust/v1.0.0/__tests__/build-chain.tests.ts
  src/trust/v1.0.0/__tests__/verify-chain.tests.ts
  src/utils/misc.ts
Labels: none

chore: fix mixed linting issues
  eslint.config.mjs
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/CredentialScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/screens/TrustScreen.tsx
  example/src/screens/login/IdpLoginScreen.tsx
  example/src/store/reducers/debug.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credentialsCatalogue.ts
  src/credential/presentation/common/utils/dcql.ts
  src/credential/presentation/v1.3.3/06-evaluate-dcql-query.ts
Labels: example

chore: fix no-non-null-assertion
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  src/credential/issuance/common/02-start-user-authorization.ts
  src/credential/issuance/common/06-verify-and-parse-credential.mdoc.ts
  src/credential/presentation/common/utils/dcql.ts
  src/credential/presentation/v1.3.3/07-send-authorization-response.ts
  src/credential/status/v1.0.0/02-verify-and-parse-status-assertion.ts
  src/mdoc/index.ts
  src/trust/v1.0.0/__fixtures__/entity-statements.ts
Labels: example

chore: revert unwanted change
  src/credential/presentation/api/types.ts
Labels: none

chore: fix mixed linting issues
  eslint.config.mjs
  example/src/screens/TrustScreen.tsx
  example/src/utils/logging.ts
  src/IoWallet.ts
  src/client/index.ts
  src/credential/issuance/api/types.ts
  src/credential/issuance/mrtd-pop/__tests__/02-init-challenge.test.ts
  src/credential/issuance/mrtd-pop/__tests__/03-validate-challenge.test.ts
  src/credential/issuance/v1.3.3/__tests__/mappers.test.ts
  src/credential/presentation/common/utils/__tests__/dcql.test.ts
  src/credentials-catalogue/v1.0.0/mappers.ts
  src/trust/common/build-chain.ts
Labels: example

chore: fix tsc errors
  example/src/components/debug/DebugPrettyPrint.tsx
  example/src/utils/strings.ts
  src/credential/presentation/v1.0.0/06-evaluate-dcql-query.ts
  src/credential/status/v1.0.0/types.ts
  src/utils/errors.ts
Labels: example

chore: [SIW-4670] Use the new `key-attestations` endpoint (#378)
  openapi/wallet-provider.yaml
  src/wallet-unit-attestation/v1.3.3/__tests__/issuing.test.ts
  src/wallet-unit-attestation/v1.3.3/issuing.ts
  src/wallet-unit-attestation/v1.3.3/types.ts
Labels: none

chore: [SIW-3978] Close credential catalog open issues (#379)
  src/credentials-catalogue/api/DigitalCredentialsCatalogue.ts
  src/credentials-catalogue/v1.3.3/__tests__/mappers.test.ts
  src/credentials-catalogue/v1.3.3/mappers.ts
Labels: none

chore: fix missing body
  src/wallet-unit-attestation/v1.3.3/issuing.ts
Labels: none

tests: update mocks with new order
  src/credential/issuance/mrtd-pop/__tests__/03-validate-challenge.test.ts
  src/credential/issuance/v1.3.3/__tests__/05-obtain-credential.test.ts
  src/wallet-unit-attestation/v1.3.3/__tests__/issuing.test.ts
Labels: none

chore: update io-wallet-sdk
  package.json
  src/credential/issuance/v1.3.3/01-evaluate-issuer-trust.ts
  src/credential/issuance/v1.3.3/mappers.ts
  yarn.lock
Labels: none

chore: align Wallet Solution metadata to 1.4 (#381)
  package.json
  src/credential/issuance/v1.3.3/01-evaluate-issuer-trust.ts
  src/credential/issuance/v1.3.3/mappers.ts
  yarn.lock
Labels: none

chore: release version 3.6.3
  CHANGELOG.md
  package.json
Labels: none

refactor(catalog): rename 1.4.2 folders to 1.4.4
  src/credentials-catalogue/index.ts
  src/credentials-catalogue/v1.4.4/__tests__/fetch-translations.test.ts
  src/credentials-catalogue/v1.4.4/__tests__/mappers.test.ts
  src/credentials-catalogue/v1.4.4/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.4.4/fetch-translations.ts
  src/credentials-catalogue/v1.4.4/index.ts
  src/credentials-catalogue/v1.4.4/mappers.ts
  src/credentials-catalogue/v1.4.4/types.ts
  src/credentials-catalogue/v1.4.4/utils.ts
Labels: none

refactor(trust): rename 1.3.3 folders to 1.4.4
  src/credential/presentation/v1.4.4/02-evaluate-rp-trust.ts
  src/credential/presentation/v1.4.4/mappers.ts
  src/trust/v1.4.4/entities.ts
  src/trust/v1.4.4/types.ts
Labels: none

refactor: rename 1.3.3 folders to 1.4.4
  docs/agents/architecture.md
  src/api/index.ts
  src/credential/offer/README.md
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/v1.4.4/index.ts
  src/wallet-instance-attestation/v1.4.4/issuing.ts
  src/wallet-instance-attestation/v1.4.4/mappers.ts
  src/wallet-instance-attestation/v1.4.4/types.ts
  src/wallet-instance-attestation/v1.4.4/utils.ts
  src/wallet-instance/index.ts
  src/wallet-instance/v1.4.4/index.ts
  src/wallet-unit-attestation/index.ts
  src/wallet-unit-attestation/v1.4.4/__tests__/issuing.test.ts
  src/wallet-unit-attestation/v1.4.4/index.ts
  src/wallet-unit-attestation/v1.4.4/issuing.ts
  src/wallet-unit-attestation/v1.4.4/mappers.ts
  src/wallet-unit-attestation/v1.4.4/types.ts
  src/wallet-unit-attestation/v1.4.4/utils.ts
Labels: docs

refactor: rename wallet unit attestation to key attestation
  src/api/index.ts
  src/index.ts
  src/key-attestation/README.md
  src/key-attestation/api/index.ts
  src/key-attestation/api/types.ts
  src/key-attestation/index.ts
  src/key-attestation/v1.0.0/index.ts
  src/key-attestation/v1.4.4/__tests__/issuing.test.ts
  src/key-attestation/v1.4.4/index.ts
  src/key-attestation/v1.4.4/issuing.ts
  src/key-attestation/v1.4.4/mappers.ts
  src/key-attestation/v1.4.4/types.ts
  src/key-attestation/v1.4.4/utils.ts
  src/wallet-unit-attestation/index.ts
  src/wallet-unit-attestation/v1.0.0/index.ts
  src/wallet-unit-attestation/v1.4.4/index.ts
  src/wallet-unit-attestation/v1.4.4/mappers.ts
  src/wallet-unit-attestation/v1.4.4/types.ts
Labels: none

chore: rename occurrences of wallet unit attestation to key attestation
  src/credential/issuance/README.md
  src/credential/issuance/api/05-obtain-credential.ts
  src/credential/issuance/v1.4.4/05-obtain-credential.ts
  src/key-attestation/v1.4.4/__tests__/issuing.test.ts
  src/key-attestation/v1.4.4/issuing.ts
  src/key-attestation/v1.4.4/utils.ts
Labels: none

chore: remove references to 1.3.3
  README.md
  docs/agents/architecture.md
  src/credential/issuance/v1.4.4/03-complete-user-authorization.ts
  src/credential/issuance/v1.4.4/__tests__/03-complete-user-authorization.test.ts
  src/credential/offer/v1.4.4/01-resolve-credential-offer.ts
  src/credential/offer/v1.4.4/02-extract-grant-details.ts
  src/credential/offer/v1.4.4/03-validate-credential-offer.ts
  src/credential/status/v1.4.4/03-get-status.ts
  src/credential/trustmark/__tests__/get-credential-trustmark.test.ts
  src/credential/trustmark/v1.4.4/get-credential-trustmark.ts
  src/credentials-catalogue/v1.4.4/fetch-and-parse-catalogue.ts
  src/credentials-catalogue/v1.4.4/types.ts
  src/credentials-catalogue/v1.4.4/utils.ts
Labels: docs

chore: update type metadata fetch
  src/sd-jwt/utils.ts
Labels: none

chore: update example app
  example/.env.example
  example/src/config.ts
  example/src/screens/CredentialStatusScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/SettingsScreen.tsx
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/environment.ts
  src/credential/issuance/index.ts
  src/credential/status/README.md
  src/utils/config.ts
Labels: example

.github/labeler.yml:

example: example/**/*
docs: docs/**/*
ci: .github/workflows/**/*
