Repository pagopa/io-react-native-wallet, pull requests merged in 2023-08, with the labels that each got.

#21 feat: [SIW-351] Encrypt authorization response
  example/package.json
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/yarn.lock
  package.json
  src/rp/index.ts
  src/utils/errors.ts
  yarn.lock
Labels: example, feat

#24 chore: fix SD-JWT tests
  src/sd-jwt/__test__/index.test.ts
Labels: chore

#23 feat: [SIW-337] Verifiy Request Object signature
  example/src/scenarios/cross-device-flow-with-rp.tsx
  src/rp/index.ts
Labels: example, feat

#22 feat: [SIW-352] Presentation submission
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  __mocks__/react-native-uuid/index.ts
  example/src/scenarios/cross-device-flow-with-rp.tsx
  package.json
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/index.ts
  src/rp/index.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/sd-jwt/verifier.ts
  src/utils/errors.ts
  yarn.lock
Labels: example, feat

#25 chore: Add function to obtain PID issuer metadata [SIW-396]
  example/ios/Podfile.lock
  package.json
  src/pid/__tests__/issuing.test.ts
  src/pid/issuing.ts
  src/pid/metadata.ts
  src/utils/errors.ts
  yarn.lock
Labels: example, chore

#27 fix: Fix some jest mock problem
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  __mocks__/react-native-uuid/index.ts
  __mocks__/react-native-uuid/uuid/index.ts
  package.json
  src/pid/__tests__/issuing.test.ts
Labels: fix

#29 fix: Update build.gradle
  example/android/app/build.gradle
Labels: example, fix
