Repository pagopa/io-react-native-wallet, pull requests merged in 2023-07, with the labels that each got.

#1 [SIW-277] Scaffold package for Wallet Instance Attestation
  .github/CODEOWNERS
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  .gitignore
  .node-version
  .nvmrc
  .yarnrc
  README.md
  babel.config.js
  example/App.js
  example/app.json
  example/assets/adaptive-icon.png
  example/assets/favicon.png
  example/assets/icon.png
  example/assets/splash.png
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/tsconfig.json
  example/webpack.config.js
  example/yarn.lock
  package.json
  scripts/bootstrap.js
  src/__tests__/index.test.ts
  src/index.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: example, ci

#2 Rename package
  README.md
  example/src/App.tsx
  package.json
  tsconfig.json
Labels: example

#8 feat: Add Wallet Instance Attestation issuing [SIW-314,315]
  .github/workflows/code-review.yaml
  .npmrc
  README.md
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/yarn.lock
  package.json
  src/index.ts
  src/utils/errors.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example, ci, feat

#9 ci: Add release pipeline
  .github/workflows/publish.yaml
  README.md
Labels: ci

#10 feat: Add RP authentication
  package.json
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
Labels: feat

#11 chore: Export errors
  src/index.ts
Labels: chore

#12 feat: PID issuing [SIW-313]
  example/src/App.tsx
  package.json
  src/index.ts
  src/pid/index.ts
  src/pid/issuing.ts
  src/sd-jwt/types.ts
  src/utils/dpop.ts
  src/utils/errors.ts
  src/utils/signature.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example, feat

#14 fix: Adds additional check over the PID
  example/src/App.tsx
  package.json
  src/sd-jwt/index.ts
Labels: example, fix

#13 Refactor example scenarios
  example/src/App.tsx
  example/src/scenarios/decode-pid.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/index.tsx
  example/src/scenarios/types.tsx
  example/src/scenarios/verify-pid.tsx
Labels: example

#15 Fix QR code resolution
  example/src/App.tsx
  example/src/scenarios/decode-qr-from-rp.tsx
  example/src/scenarios/index.tsx
  package.json
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  yarn.lock
Labels: example

#17 chore: [SIW-271] Cross-device flow test in example app
  example/src/App.tsx
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/index.tsx
Labels: example, chore

#18 chore: Export `pidWithToken` type
  package.json
  src/pid/sd-jwt/index.ts
Labels: chore

#20 feat: [SIW-336] Send authorization response to RP
  example/src/scenarios/cross-device-flow-with-rp.tsx
  src/rp/index.ts
  src/rp/types.ts
Labels: example, feat
