Repository pagopa/io-react-native-wallet, pull requests merged in 2023-10, with the labels that each got.

#45 feat: [SIW-559] Add deep link handler for cross device scenario in example App
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/index.tsx
  example/yarn.lock
Labels: example, feat

#46 fix: [SIW-540] Restore exported types
  package.json
  src/index.ts
Labels: fix

#47 feat!: [SIW-545] Adds the authorization endpoint for PID issuing
  example/src/scenarios/get-pid.tsx
  package.json
  src/pid/issuing.ts
  src/utils/__tests__/decoder.test.ts
  src/utils/decoder.ts
Labels: example, feat, breaking-change

#50 feat: [SIW-323] Verify Wallet Instance Attestation on receving
  package.json
  src/wallet-instance-attestation/issuing.ts
Labels: feat

#51 fix: [SIW-584] Fix DPoP endpoint
  package.json
  src/pid/issuing.ts
  src/utils/__tests__/crypto.test.ts
  src/utils/crypto.ts
Labels: fix

#55 fix: [SIW-584] Fix `finally` expression
  package.json
  src/utils/crypto.ts
Labels: fix

#52 feat: [SIW-490] Trust chain renewal
  README.md
  example/src/App.tsx
  example/src/scenarios/get-entity-statement.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/index.tsx
  package.json
  src/index.ts
  src/trust/chain.ts
  src/trust/index.ts
Labels: example, feat

#35 chore: Fix linter
  package.json
Labels: chore

#62 feat!: [SIW-453] Credential Issuing flow
  README.md
  example/src/App.tsx
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/decode-qr-from-rp.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-credential.tsx
  example/src/scenarios/get-entity-statement.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/index.tsx
  package.json
  src/credential/index.ts
  src/credential/issuance/01-start-flow.ts
  src/credential/issuance/02-evaluate-issuer-trust.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-confirm-credential.ts
  src/credential/issuance/const.ts
  src/credential/issuance/index.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/02-evaluate-rp-trust.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-send-authorization-response.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/index.ts
  src/pid/index.ts
  src/pid/issuing.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/trust/__mocks__/entity-configurations.ts
  src/trust/index.ts
  src/trust/types.ts
  src/utils/__tests__/crypto.test.ts
  src/utils/crypto.ts
  src/utils/misc.ts
  src/utils/par.ts
Labels: example, feat, breaking-change

#56 feat: [SIW-594] Improve error messages
  package.json
  src/utils/errors.ts
Labels: feat

#63 fix!: [SIW-631] `StartFlow` to be syncronous
  example/src/scenarios/cross-device-flow-with-rp.tsx
  package.json
  src/credential/issuance/01-start-flow.ts
  src/credential/presentation/01-start-flow.ts
  src/utils/misc.ts
Labels: example, fix, breaking-change
