Repository pagopa/io-react-native-wallet, pull requests merged in 2023-09, with the labels that each got.

#32 chore: Minor fix to RP
  example/package.json
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/yarn.lock
  package.json
  src/rp/index.ts
Labels: example, chore

#34 feat: [SIW-402] Resolve trust chain
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  example/src/scenarios/cross-device-flow-with-rp.tsx
  src/index.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/rp/types.ts
  src/trust/__mocks__/entity-statements.ts
  src/trust/__tests__/index.test.ts
  src/trust/chain.ts
  src/trust/index.ts
  src/trust/types.ts
Labels: example, feat

#38 Fix #34 Entity Configuration parsing
  example/src/scenarios/cross-device-flow-with-rp.tsx
  package.json
  src/index.ts
  src/rp/types.ts
  src/trust/__tests__/index.test.ts
  src/trust/types.ts
Labels: example

#39 fix: Fix PID issuer metadata
  example/src/scenarios/get-pid.tsx
  package.json
  src/pid/__tests__/issuing.test.ts
  src/pid/issuing.ts
  src/pid/metadata.ts
Labels: example, fix

#42 build: [SIW-494] Remove old example xcworkspace
  example/ios/example.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: example

#41 chore!: [SIW-439, 496] Classes refactor
  README.md
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-pid.tsx
  src/index.ts
  src/pid/__tests__/issuing.test.ts
  src/pid/index.ts
  src/pid/issuing.ts
  src/pid/metadata.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/trust/types.ts
  src/utils/__tests__/dpop.test.ts
  src/utils/dpop.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example, chore

#40 chore! [SIW-439] Update JWT signing
  README.md
  __mocks__/@pagopa/io-react-native-crypto/index.ts
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  __mocks__/react-native-url-polyfill/auto/index.ts
  example/package.json
  example/src/scenarios/cross-device-flow-with-rp.tsx
  example/src/scenarios/get-attestation.tsx
  example/src/scenarios/get-pid.tsx
  example/src/scenarios/types.tsx
  example/yarn.lock
  package.json
  src/index.ts
  src/pid/__tests__/issuing.test.ts
  src/pid/index.ts
  src/pid/issuing.ts
  src/pid/metadata.ts
  src/rp/__test__/index.test.ts
  src/rp/index.ts
  src/sd-jwt/index.ts
  src/trust/__mocks__/entity-statements.ts
  src/trust/types.ts
  src/utils/__tests__/dpop.test.ts
  src/utils/crypto.ts
  src/utils/dpop.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.ts
  yarn.lock
Labels: example, chore

#44 chore: [SIW-539] Update PID to 0.5.1 tech rules
  package.json
  src/pid/issuing.ts
  src/pid/metadata.ts
Labels: chore
