Repository pagopa/io-react-native-wallet, pull requests merged in 2023-11, with the labels that each got.

#64 feat: [SIW-644] Added missing field to `federation_entity` section on entity statements
  src/trust/types.ts
Labels: feat

#65 feat: [SIW-645] Use `SdJwt4VC` as default decoder
  example/src/App.tsx
  example/src/scenarios/decode-credential-sdjwt.tsx
  example/src/scenarios/index.tsx
  example/src/scenarios/types.tsx
  example/src/scenarios/verify-credential-sdjwt.tsx
  src/index.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
Labels: example, feat

#66 feat: [SIW-646] Add `VerificationAndParseCredential` phase on credential issuance flow
  example/src/scenarios/get-credential.tsx
  example/src/scenarios/get-pid.tsx
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/08-confirm-credential.ts
  src/credential/issuance/const.ts
  src/credential/issuance/index.ts
Labels: example, feat

#67 chore: [SIW-646] Fix package version
  example/src/App.tsx
  package.json
  src/utils/misc.ts
Labels: example, chore

#68 fix: Add mdoc metadata support
  package.json
  src/trust/types.ts
Labels: fix
