Repository pagopa/io-react-native-wallet, pull requests merged in 2024-08, with the labels that each got.

#111 build: Align Podfile.lock
  example/ios/Podfile.lock
Labels: example, build

#113 feat: [SIW-1439] Add Disability Card scenario to the example app
  example/src/App.tsx
  example/src/scenarios/get-crendential.ts
Labels: example

#105 feat: [SIW-1195] Add credential status implementation
  example/src/App.tsx
  example/src/scenarios/get-credential-status-attestation.ts
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/index.ts
  src/credential/index.ts
  src/credential/status/01-start-flow.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/errors.ts
  src/credential/status/index.ts
  src/credential/status/types.ts
  src/utils/errors.ts
  src/utils/misc.ts
Labels: example, feat

#114 feat: Add login webpage
  .gitignore
  example/.env.example
  example/android/app/build.gradle
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/LoginComponent.tsx
  example/src/MainComponent.tsx
  example/src/config.ts
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/store/dispatch.ts
  example/src/store/reducers/sesssion.ts
  example/src/store/store.ts
  example/src/utils/fetch.ts
  example/src/utils/idps.ts
  example/yarn.lock
  src/utils/par.ts
  yarn.lock
Labels: example, feat

#118 feat: [SIW-1466] Add io backend login
  .gitignore
  example/.env.example
  example/android/app/build.gradle
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/LoginComponent.tsx
  example/src/MainComponent.tsx
  example/src/config.ts
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/get-credential-status-attestation.ts
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/store/dispatch.ts
  example/src/store/reducers/sesssion.ts
  example/src/store/store.ts
  example/src/utils/fetch.ts
  example/src/utils/idps.ts
  example/yarn.lock
  src/utils/par.ts
Labels: example, feat

#116 refactor: [SIW-1393] Use DPoP crypto context
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/utils/consts.ts
  example/src/utils/crypto.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/const.ts
Labels: example, refactor

#119 feat: [SIW-1496] Add navigation in the example app
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/MainComponent.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/scenarios/get-credential-status-attestation.ts
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/screens/HomeScreen.tsx
  example/src/screens/LoginScreen.tsx
  example/yarn.lock
  package.json
Labels: example, feat

#121 feat: [SIW-1499] Add status attestation verification and parsing
  example/src/scenarios/get-credential-status-attestation.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/index.ts
  src/credential/status/types.ts
Labels: example, feat

#117 chore: [SIW-1488] allow AbortSignal in completeUserAuthorizationWithQueryMode
  src/credential/issuance/04-complete-user-authorization.ts
  src/utils/errors.ts
  src/utils/misc.ts
Labels: chore

#122 chore: Release v0.16.0
  package.json
Labels: chore

#123 chore: [SIW-1505] Export status attestation errors
  src/credential/status/02-status-attestation.ts
  src/credential/status/errors.ts
  src/utils/errors.ts
Labels: chore

#124 chore: Release v0.16.1
  package.json
Labels: chore

#125 fix: [SIW-1507] Add js-sha256 in library dependencies
  package.json
Labels: fix

#126 chore: Release v0.16.2
  package.json
Labels: chore

#120 feat: [SIW-1493] Add persistence and side effect management
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/TestScenario.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/component/TestScenario.tsx
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/get-credential-status-attestation.ts
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/scenarios/index.ts
  example/src/scenarios/prepare-integrity-context.ts
  example/src/scenarios/types.ts
  example/src/screens/CredentialScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PidScreen.tsx
  example/src/screens/StatusAttestationScreen.tsx
  example/src/screens/WalletInstanceScreen.tsx
  example/src/screens/login/IdpLoginScreen.tsx
  example/src/screens/login/IdpSelectionScreen.tsx
  example/src/store/dispatch.ts
  example/src/store/reducers/attestation.ts
  example/src/store/reducers/credential.ts
  example/src/store/reducers/instance.ts
  example/src/store/reducers/sesssion.ts
  example/src/store/store.ts
  example/src/store/types.ts
  example/src/store/utilts.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/instance.ts
  example/src/thunks/pidCieL3.ts
  example/src/thunks/types.ts
  example/src/thunks/utils.ts
  example/src/utils/consts.ts
  example/src/utils/credential.ts
  example/src/utils/crypto.ts
  example/src/utils/env.ts
  example/src/utils/idps.ts
  example/src/utils/integrity.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
Labels: example, feat
