Repository pagopa/io-react-native-wallet, pull requests merged in 2024-10, with the labels that each got.

#145 chore: [SIW-1707] Handle undefined `iat`claim
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: chore

#147 feat: [SIW-1591] Add 409 handling with custom exception for wallet provider
  openapi/wallet-provider.yaml
  src/utils/errors.ts
  src/wallet-instance-attestation/README.md
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance/README.md
  src/wallet-instance/index.ts
Labels: feat

#144 chore: [SIW-1632] Reuse the Wallet Instance Attestation in the example app
  example/ios/Podfile.lock
  example/package.json
  example/src/store/reducers/attestation.ts
  example/src/store/reducers/credential.ts
  example/src/store/reducers/pid.ts
  example/src/store/storage.ts
  example/src/store/store.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieL3.ts
  example/yarn.lock
Labels: example, chore

#146 feat: [SIW-1704] Add method to revoke the current wallet instance
  example/src/components/TestScenario.tsx
  example/src/screens/WalletInstanceScreen.tsx
  example/src/store/reducers/instance.ts
  example/src/thunks/instance.ts
  openapi/wallet-provider.yaml
  src/wallet-instance/README.md
  src/wallet-instance/index.ts
Labels: example, feat

#149 feat: [SIW-1753] Add `authentic_source` field in supported credential metadata
  src/trust/__mocks__/entity-configurations.ts
  src/trust/types.ts
Labels: feat

#150 chore: [SIW-1777] Validate and type `issuance_errors_supported`
  src/trust/types.ts
Labels: chore

#148 fix: [SIW-1736] Disclosures base64 decoding to UTF-8 string
  package.json
  src/sd-jwt/index.ts
  yarn.lock
Labels: fix

#151 chore: [SIW-1779] Handle error codes during credential issuance and status attestation
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/types.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/README.md
  src/credential/status/types.ts
  src/utils/__tests__/errors.test.ts
  src/utils/errors.ts
  src/utils/misc.ts
Labels: chore
