Repository pagopa/io-react-native-wallet, pull requests merged in 2024-09, with the labels that each got.

#130 build: Update example dependencies version for Android build
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
Labels: example, build

#129 feat: [SIW-1497] PRE-PROD env switch at runtime
  example/.env.example
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/TestScenario.tsx
  example/src/config.ts
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/CredentialScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PidScreen.tsx
  example/src/screens/SettingsScreen.tsx
  example/src/screens/login/IdpLoginScreen.tsx
  example/src/screens/login/PidSpidLoginScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/reducers/environment.ts
  example/src/store/reducers/pid.ts
  example/src/store/store.ts
  example/src/store/types.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/instance.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieL3.ts
  example/src/utils/credential.ts
  example/src/utils/device.ts
  example/src/utils/env.ts
  example/src/utils/environment.ts
  example/src/utils/fetch.ts
  example/src/utils/idps.ts
  example/src/utils/integrity.ts
Labels: example, feat

#131 fix: [SIW-1516] Loading spinner not visibile when creating a wallet instance
  example/ios/Podfile.lock
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/instance.ts
Labels: example, fix

#132 fix: [SIW-1517] Debug overlay crash with long strings in example app
  example/package.json
  example/src/components/debug/DebugPrettyPrint.tsx
  example/yarn.lock
Labels: example, fix

#133 fix: [SIW-1515] CIE L3 scenario DPoP key error in example apple
  example/package.json
  example/src/components/TestCieL3Scenario.tsx
  example/src/store/reducers/credential.ts
  example/src/store/reducers/pid.ts
  example/src/thunks/pidCieL3.ts
Labels: example, fix

#136 feat: [SIW-1558] Add not entiled error when requesting a credential
  src/credential/issuance/06-obtain-credential.ts
  src/utils/errors.ts
Labels: feat

#134 docs: [SIW-1529] Update documentation
  README.md
  example/README.md
  src/cie/README.md
  src/credential/issuance/README.md
  src/credential/presentation/README.md
  src/credential/status/README.md
  src/wallet-instance-attestation/README.md
  src/wallet-instance/README.md
Labels: example, docs

#140 docs: [SIW-1670] Update issuance README
  src/credential/issuance/README.md
Labels: docs

#141 fix: [SIW-1679] Restore optional parameter to get all disclosures
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
Labels: fix

#143 chore: [SIW-1684] Expose `iat` and `exp` claims
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
Labels: chore
