Repository pagopa/io-react-native-wallet, pull requests merged in 2024-07, with the labels that each got.

#95 fix: Align PID with eID format
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/types.ts
  src/sd-jwt/__test__/converters.test.js
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/sd-jwt/verifier.js
Labels: fix

#89 feat: [SIW-1164,SIW-1119] Add auth flow and PID issuance
  example/.env.example
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/component/TestScenario.tsx
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/get-pid.ts
  example/src/scenarios/index.ts
  example/src/utils/fetch.ts
  example/yarn.lock
  package.json
  src/credential/issuance/03-start-credential-issuance.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/04-verify-and-parse-credential.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-confirm-credential.ts
  src/credential/issuance/08-confirm-credential.ts
  src/credential/issuance/index.ts
  src/credential/issuance/types.ts
  src/index.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/types.ts
  src/sd-jwt/__test__/converters.test.js
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/sd-jwt/verifier.js
  src/trust/__mocks__/entity-configurations.ts
  src/trust/types.ts
  src/utils/auth.ts
  src/utils/errors.ts
  src/utils/misc.ts
  src/utils/par.ts
  src/utils/pop.ts
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/types.ts
  yarn.lock
Labels: example, feat

#97 fix: [SIW-1311] Fix `birth_date` field
  src/pid/sd-jwt/__tests__/index.test.ts
  src/pid/sd-jwt/__tests__/types.test.ts
  src/pid/sd-jwt/converters.ts
  src/pid/sd-jwt/types.ts
  src/sd-jwt/__test__/converters.test.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
Labels: fix

#96 feat: [SIW-986,SIW-1309] Integrate CieID login
  example/android/app/src/main/AndroidManifest.xml
  example/ios/IoReactNativeWalletExample/Info.plist
  example/src/scenarios/get-pid.ts
  src/credential/issuance/03-start-credential-issuance.ts
  src/utils/misc.ts
Labels: example, feat

#98 feat: [SIW-1289] Handle IDP errors during the authorization flow
  src/credential/issuance/03-start-credential-issuance.ts
  src/credential/issuance/__tests__/03-start-credential-issuance.test.ts
  src/utils/auth.ts
  src/utils/errors.ts
Labels: feat

#99 refactor: [SIW-1318] Refactor issuance flow with steps
  example/src/scenarios/get-pid.ts
  src/credential/issuance/01-start-flow.ts
  src/credential/issuance/02-evaluate-issuer-trust.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
  src/credential/issuance/index.ts
Labels: example, refactor

#100 fix: [SIW-1333] Wrong imports from utils folder
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
Labels: fix

#103 fix: Fix Wallet Provider client
  src/client/index.ts
Labels: fix

#102 feat: [SIW-1293] Integrate eID issuance with CIE+PIN L3
  example/.env.example
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/ioreactnativewalletexample/MainApplication.java
  example/android/app/src/main/res/xml/network_security_config.xml
  example/android/build.gradle
  example/android/settings.gradle
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/IoReactNativeWalletExample/IoReactNativeWalletExample.entitlements
  example/ios/Podfile.lock
  example/package.json
  example/react-native.config.js
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/yarn.lock
  package.json
  src/cie/component.tsx
  src/cie/error.ts
  src/cie/index.ts
  src/cie/manager.ts
  src/credential/issuance/03-start-credential-issuance.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/__tests__/03-start-credential-issuance.test.ts
  src/credential/issuance/index.ts
  src/index.ts
  yarn.lock
Labels: example, feat

#104 fix: [SIW-1324] Add prod configuration
  example/.env.example
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/get-pid.ts
  src/cie/manager.ts
Labels: example, fix

#107 fix: [SIW-1368] Wrong import in complete authorisation during issuance
  src/credential/issuance/04-complete-user-authorization.ts
Labels: fix

#108 chore[SIW-1373]: Do not include undefined attributes by default
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: chore

#106 feat: [SIW-1324] Add login on io-backend
  example/.env.example
  example/src/config.ts
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  example/src/utils/fetch.ts
Labels: example, feat

#109 fix!: Change `content-type` of /token endpoint response to `application/json`
  openapi/wallet-provider.yaml
  package.json
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
Labels: fix, breaking-change

#110 fix: Fix dPoP
  example/src/scenarios/component/TestCieL3Scenario.tsx
  example/src/scenarios/get-crendential.ts
  example/src/scenarios/get-pid.ts
  package.json
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/const.ts
Labels: example, fix
