Repository pagopa/io-react-native-wallet, pull requests merged in 2024-06, with the labels that each got.

#85 refactor: [SIW-1168] Project structure
  example/package.json
  example/src/App.tsx
  example/src/scenarios/TestScenario.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/index.tsx
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/scenarios/types.ts
  example/yarn.lock
  src/sd-jwt/__test__/converters.test.js
  src/sd-jwt/verifier.js
Labels: example, chore

#87 chore: [SIW-1202] Remove poc scenarios
  example/src/App.tsx
  example/src/scenarios/index.ts
  example/src/scenarios/poc/cross-device-flow-with-rp.ts
  example/src/scenarios/poc/decode-credential-sdjwt.ts
  example/src/scenarios/poc/decode-pid.ts
  example/src/scenarios/poc/decode-qr-from-rp.ts
  example/src/scenarios/poc/get-attestation.ts
  example/src/scenarios/poc/get-credential-multiple.ts
  example/src/scenarios/poc/get-credential.ts
  example/src/scenarios/poc/get-entity-statement.ts
  example/src/scenarios/poc/get-pid.ts
  example/src/scenarios/poc/verify-credential-sdjwt.ts
  example/src/scenarios/poc/verify-pid.ts
Labels: example, chore

#86 feat: [SIW-1149] Add getAttestation
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/component/TestScenario.tsx
  example/src/scenarios/create-wallet-instance.ts
  example/src/scenarios/get-attestation.ts
  example/src/scenarios/index.ts
  example/src/scenarios/prepare-integrity-context.ts
  example/src/scenarios/production/create-wallet-instance.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  example/yarn.lock
  openapi/wallet-provider.yaml
  src/index.ts
  src/utils/integrity.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance-attestation/types.ts
  tsconfig.json
Labels: example, feat

#88 chore: [SIW-1208] Use base64url for iOS integrity keys
  example/src/scenarios/prepare-integrity-context.ts
  example/src/utils/integrity/integrity.android.ts
  example/src/utils/integrity/integrity.ios.ts
  src/utils/integrity.ts
Labels: example, chore

#91 feat: [SIW-1255] Add issuer authentication
  example/.env.example
  example/src/config.ts
  example/src/utils/fetch.ts
Labels: example, feat

#90 feat: [SIW 1190]: handle errors to determine a Wallet Instance status
  example/src/scenarios/get-attestation.ts
  openapi/wallet-provider.yaml
  src/client/index.ts
  src/utils/errors.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example, feat

#92 fix: [SIW-1273] Fix dev-proxy and rename env variables
  example/.env.example
  example/dev-proxy/app.py
  example/src/config.ts
  example/src/utils/fetch.ts
Labels: example, fix

#94 fix: [SIW-1279] Alignment with new technical rules
  example/.env.example
  example/src/config.ts
  example/src/scenarios/get-pid.ts
  example/src/utils/fetch.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/trust/__mocks__/entity-configurations.ts
  src/trust/types.ts
  src/utils/misc.ts
  src/utils/par.ts
  src/utils/pop.ts
  src/wallet-instance-attestation/__tests__/index.test.ts
  src/wallet-instance-attestation/types.ts
Labels: example, fix
