Repository pagopa/io-react-native-wallet, pull requests merged in 2024-12, with the labels that each got.

#165 fix: [SIW-1785] Avoid multiple CIE completed event
  src/cie/component.tsx
Labels: fix

#166 refactor: [EUDIW-202] Move CIE components to example app
  README.md
  example/ios/Podfile.lock
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/cie/component.tsx
  example/src/components/cie/error.ts
  example/src/components/cie/index.ts
  example/src/components/cie/manager.ts
  package.json
  src/cie/README.md
  src/index.ts
  yarn.lock
Labels: example, refactor

#167 chore: Release v0.27.0
  package.json
Labels: chore
