Repository pagopa/io-react-native-wallet, pull requests merged in 2024-11, with the labels that each got.

#153 chore: [SIW-1737] Upgrade `io-react-native-jwt` dependency package
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  package.json
  yarn.lock
Labels: chore

#156 feat: [SIW-1844] Add trustmark generation functions
  README.md
  example/.env.example
  example/ios/Podfile.lock
  example/package.json
  example/src/components/QrCodeImage.tsx
  example/src/config.ts
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/TrustmarkScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/utilts.ts
  example/src/thunks/trustmark.ts
  example/src/utils/environment.ts
  example/src/utils/ui.ts
  example/yarn.lock
  src/credential/index.ts
  src/credential/trustmark/README.md
  src/credential/trustmark/__tests__/get-credential-trustmark.test.ts
  src/credential/trustmark/get-credential-trustmark.ts
  src/credential/trustmark/index.ts
  src/utils/__tests__/string.tests.ts
  src/utils/string.ts
Labels: example, feat

#157 fix: [SIW-1864] Fix trustmark payload
  src/credential/trustmark/__tests__/get-credential-trustmark.test.ts
  src/credential/trustmark/get-credential-trustmark.ts
Labels: fix

#155 chore: [SIW-1762] Refactor errors
  example/src/thunks/pidCieL3.ts
  example/src/utils/credential.ts
  src/client/index.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
  src/credential/issuance/errors.ts
  src/credential/issuance/index.ts
  src/credential/issuance/types.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-send-authorization-response.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/README.md
  src/credential/status/types.ts
  src/sd-jwt/errors.ts
  src/sd-jwt/index.ts
  src/sd-jwt/verifier.ts
  src/trust/index.ts
  src/utils/__tests__/errors.test.ts
  src/utils/decoder.ts
  src/utils/error-codes.ts
  src/utils/errors.ts
  src/utils/misc.ts
  src/utils/par.ts
  src/wallet-instance-attestation/README.md
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance/README.md
  src/wallet-instance/index.ts
Labels: example, chore

#159 feat: [SIW-1865] Add wallet instance status API call
  example/src/thunks/instance.ts
  openapi/wallet-provider.yaml
  src/client/__tests__/index.test.ts
  src/client/index.ts
  src/utils/error-codes.ts
  src/wallet-instance/README.md
  src/wallet-instance/index.ts
Labels: example, feat

#160 chore: Release v0.25.0
  package.json
Labels: chore

#152 fix: [SIW-1795] Problem with SPID Login Using Custom Tab
  README.md
  example/ios/Podfile.lock
  example/package.json
  example/src/components/TestCieL3Scenario.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PidScreen.tsx
  example/src/screens/login/PidLoginScreen.tsx
  example/src/screens/login/PidSpidIdpSelectionScreen.tsx
  example/src/store/reducers/pid.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/pidCieL3.ts
  example/src/utils/credential.ts
  example/src/utils/misc.ts
  example/src/utils/openUrlAndListenForRedirect.ts
  example/yarn.lock
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
  src/credential/issuance/index.ts
  src/utils/misc.ts
Labels: example, fix

#162 chore: Remove `rn-qr-generator`, use `react-native-qrcode-svg` in the example app
  example/ios/Podfile.lock
  example/package.json
  example/src/components/QrCodeImage.tsx
  example/src/screens/TrustmarkScreen.tsx
  example/yarn.lock
Labels: example, chore

#161 chore: Release v0.26.0
  package.json
Labels: chore

#164 chore: [SIW-1875] Remove unnecessary error classes
  example/src/utils/openUrlAndListenForRedirect.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/errors.ts
  src/credential/status/02-status-attestation.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example

#163 fix: Upgrade `react-native-svg` for `react-native-qrcode-svg` compatibility
  example/package.json
  example/yarn.lock
Labels: example, fix
