Repository pagopa/io-react-native-wallet, pull requests merged in 2024-05, with the labels that each got.

#76 chore: [SIW-1091] Upgrade react-native to 0.72.14
  .eslintrc.js
  .gitignore
  example/Gemfile
  example/Gemfile.lock
  example/babel.config.js
  example/index.js
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/jest.config.js
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, chore

#77 chore: [SIW-1098] Update io-react-native-jwt to `1.2.0`
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, chore

#74 chore: Add production section to example app
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/yarn.lock
Labels: example, chore

#78 chore: Create a proxy script to simulate io-backend in example app
  example/proxy.py
Labels: example, chore

#79 feat: Add dev-proxy in python
  example/dev-proxy/.env.example
  example/dev-proxy/.gitignore
  example/dev-proxy/.python-version
  example/dev-proxy/README.md
  example/dev-proxy/app.py
  example/dev-proxy/requirements.txt
Labels: example, feat

#82 chore: Add `react-native-dotenv` for example app
  .gitignore
  example/.env.example
  example/babel.config.js
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/package.json
  example/src/config.ts
  example/src/scenarios/create-wallet-instance.tsx
  example/yarn.lock
Labels: example

#83 build: [SIW-1155] Update Ruby in example app
  example/.ruby-version
Labels: build

#84 chore: [SIW-1160] Add Android example app
  example/src/scenarios/create-wallet-instance.tsx
Labels: example, chore

#81 feat: [SIW-1076] Add create wallet instance function
  .eslintignore
  .gitattributes
  .gitignore
  example/.env.example
  example/babel.config.js
  example/dev-proxy/app.py
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/config.ts
  example/src/scenarios/create-wallet-instance.tsx
  example/src/scenarios/index.tsx
  example/yarn.lock
  openapi/wallet-provider.yaml
  package.json
  src/client/generated/.keep
  src/client/index.ts
  src/index.ts
  src/utils/errors.ts
  src/utils/integrity.ts
  src/wallet-instance/index.ts
  yarn.lock
Labels: example, feat
