Repository pagopa/io-react-native-wallet, pull requests merged in 2025-02, with the labels that each got.

#185 feat: [WLEO-218] Add support to ECDH-ES encryption for direct_post.jwt
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/types.ts
  src/entity/trust/chain.ts
  src/utils/decoder.ts
  src/utils/jwk.ts
  tsconfig.json
  yarn.lock
Labels: example, feat

#186 fix: [WLEO-2218] Remove adding wrong disclosure on optional list
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: fix

#175 chore: [SIW-1268] Deletion of optional attributes from the credential issuer entity configuration
  src/trust/types.ts
Labels: chore

#177 fix(example): [SIW-1912] update native libraries fixing an issue related to integrity hardware key tag generation
  example/ios/Podfile.lock
  example/package.json
  example/src/store/storage.ts
  example/src/utils/integrity.ts
  example/yarn.lock
Labels: example, fix

#190 fix: Align authorization_details to OID4VCI spec
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/types.ts
Labels: fix

#189 feat: [WLEO-254] Add API for OID4VP Presentation refusal
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/thunks/presentation.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
Labels: example, feat

#193 fix: [WLEO-268] Requested appFetch in getRequestObject
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  src/credential/presentation/03-get-request-object.ts
Labels: example, fix

#192 feat: [WLEO-246] Refactor mDL Credential Flow and Add mso_mdoc Support
  example/android/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/CredentialScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/utils/credential.ts
  example/src/utils/ui.ts
  example/yarn.lock
  package.json
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/const.ts
  src/entity/openid-connect/issuer/types.ts
  src/entity/trust/types.ts
  src/mdoc/converters.ts
  src/mdoc/index.ts
  src/utils/string.ts
  yarn.lock
Labels: example, feat

#194 feat: [WLEO-263] Remote Presentation of multiple credentials and mdoc Support
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/issuance/06-obtain-credential.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/sd-jwt/index.ts
  src/utils/string.ts
  yarn.lock
Labels: example, feat
