Repository pagopa/io-react-native-wallet, pull requests merged in 2025-05, with the labels that each got.

#227 feat: [WLEO-370] Update library dependencies adapting vpToken in mdoc format
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
  src/credential/presentation/types.ts
  src/mdoc/index.ts
  src/sd-jwt/index.ts
  yarn.lock
Labels: example, feat

#223 feat: [SIW-2159] Handle presentation errors
  example/src/screens/PresentationScreen.tsx
  example/src/thunks/presentation.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/05-verify-request-object.test.ts
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/utils/__tests__/errors.test.ts
  src/utils/error-codes.ts
  src/utils/errors.ts
Labels: example, feat

#228 chore: Release 0.30.0
  package.json
Labels: chore

#230 feat: [WLEO-350] Add support for DCQL in OID4VP Presentations
  example/src/thunks/presentation.ts
  package.json
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  yarn.lock
Labels: example, feat

#235 deps: [WLEO-439] Update CBOR and x5chain parameter when verifying credential
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/mdoc/index.ts
  yarn.lock
Labels: example
