Repository pagopa/io-react-native-wallet, pull requests merged in 2025-03, with the labels that each got.

#196 fix:[WLEO-277] State must be optional in Request Object and Presentation Response
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/types.ts
Labels: fix

#195 feat: [SIW-1967] Align trust chain implementation with 0.9.0
  src/trust/__mocks__/entity-statements.ts
  src/trust/__tests__/build-chain.tests.ts
  src/trust/__tests__/verify-chain.tests.ts
  src/trust/chain.ts
  src/trust/index.ts
  src/trust/types.ts
  src/trust/utils.ts
Labels: feat

#199 feat: [SIW-2048] Add current wallet instance status API call
  openapi/wallet-provider.yaml
  src/wallet-instance/index.ts
Labels: feat

#201 chore: Release v0.28.0
  package.json
Labels: chore

#191 feat: [SIW-1992,SIW-2005] Remote presentation with basic DCQL support
  example/package.json
  package.json
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/04-send-authorization-response.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/06-fetch-presentation-definition.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/__tests__/02-evaluate-rp-trust.test.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/__tests__/06-fetch-presentation-definition.test.ts
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/sd-jwt/index.ts
  src/trust/__mocks__/entity-configurations.ts
  src/trust/types.ts
  src/trust/utils.ts
  src/utils/decoder.ts
  src/utils/jwk.ts
  tsconfig.json
  yarn.lock
Labels: example, feat

#200 build: [WLEO-170] Update React Native to version 075
  .eslintrc.js
  .gitignore
  .node-version
  babel.config.js
  example/.node-version
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/main/res/drawable/rn_edit_text_material.xml
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/android/settings.gradle
  example/babel.config.js
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/navigator/MainStackNavigator.tsx
  example/src/store/storage.ts
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/types.ts
  src/entity/trust/chain.ts
  src/utils/errors.ts
  src/utils/misc.ts
  src/utils/string.ts
  yarn.lock
Labels: example, build

#204 fix: [WLEO-325] Bob build failure during publish workflow
  src/trust/utils.ts
Labels: fix

#205 fix(example): re-add deep link handler for ios
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
Labels: example, fix

#203 feat: [SIW-2106] Add remote presentation in the example app
  example/android/app/src/main/AndroidManifest.xml
  example/ios/Podfile.lock
  example/package.json
  example/src/components/TestScenario.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/store/store.ts
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/02-evaluate-rp-trust.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/errors.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  yarn.lock
Labels: example, feat
