Repository pagopa/io-react-native-wallet, pull requests merged in 2025-07, with the labels that each got.

#236 feat: [WLEO-408] Fetching EC from OpenID Federation endpoint
  example/ios/Podfile.lock
  example/src/screens/CredentialScreen.tsx
  example/src/screens/PidScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/thunks/pid.ts
  example/src/thunks/presentation.ts
  example/src/utils/credential.ts
  example/src/utils/ui.ts
  src/credential/issuance/02-get-issuer-config.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/const.ts
  src/credential/issuance/index.ts
  src/credential/issuance/types.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/types.ts
  src/entity/openid-connect/issuer/types.ts
  src/entity/trust/__mocks__/entity-configurations.ts
  src/entity/trust/types.ts
  src/index.ts
  src/mdoc/index.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/utils/credential/issuance/07-verify-and-parse-credentials-utils.ts
Labels: example, feat

#254 chore: release `2.0.0-next.4`
  package.json
Labels: chore

#245 fix: [SIW-2497] Migrate to getPublicKeyFixed and Update Thumbprint Logic
  __mocks__/@pagopa/io-react-native-crypto/index.ts
  example/android/app/build.gradle
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/types.ts
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/src/utils/integrity.ts
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/credentials.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example, fix, breaking-change

#250 chore: [SIW-2700] Update status assertion to v1.0
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/StatusAssertionScreen.tsx
  example/src/screens/StatusAttestationScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  src/credential/status/02-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/status/README.md
  src/credential/status/__tests__/03-verify-and-parse-status-assertion.test.ts
  src/credential/status/index.ts
  src/credential/status/types.ts
  src/utils/credentials.ts
  src/utils/jwk.ts
Labels: example, chore

#258 fix: [SIW-2785] Improve kid string comparison with thumbprint-based key comparison on credential flow
  __mocks__/@pagopa/io-react-native-jwt/index.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
Labels: fix

#252 feat: [SIW-2325] Add PROD endpoints on Trust Screen example app
  example/.env.example
  example/src/screens/TrustScreen.tsx
Labels: example, feat

#262 chore: release `2.0.0-next.5`
  package.json
Labels: chore

#263 fix: [SIW-2800] zod type for claims path pointer
  example/.env.example
  src/trust/types.ts
Labels: fix

#261 feat: [SIW-2794] Update React Native to version 0.78.3
  .github/workflows/code-review.yaml
  .github/workflows/publish.yaml
  .gitignore
  .node-version
  .nvmrc
  example/.node-version
  example/.nvmrc
  example/.ruby-version
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/File.swift
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.h
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/AppDelegate.swift
  example/ios/IoReactNativeWalletExample/main.m
  example/ios/IoReactNativeWalletExampleTests/Info.plist
  example/ios/IoReactNativeWalletExampleTests/IoReactNativeWalletExampleTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/App.tsx
  example/src/components/IdpsGrid.tsx
  example/src/components/debug/DebugPrettyPrint.tsx
  example/src/screens/TrustmarkScreen.tsx
  example/src/utils/idps.ts
  example/src/utils/strings.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, ci, feat

#267 fix: Upgrade proximity to 0.2.0
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/ProximityScreen.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, fix
