Repository pagopa/io-react-native-wallet, pull requests merged in 2025-06, with the labels that each got.

#237 chore!: [SIW-2111] Remove deprecated code from WIA 0.7.1
  example/src/screens/WalletInstanceScreen.tsx
  example/src/thunks/attestation.ts
  example/src/thunks/credential.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/thunks/presentation.ts
  openapi/wallet-provider.yaml
  src/trust/types.ts
  src/wallet-instance-attestation/index.ts
  src/wallet-instance-attestation/issuing.deprecated.ts
  src/wallet-instance-attestation/issuing.ts
Labels: example, chore, breaking-change

#238 fix: [WLEO-439] Changed behavior of evaluateInputDescriptor helper functions to throw on no match
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: fix

#240 ci: [SIW-2534] allow publishing to NPM under a prerelease tag
  .github/workflows/publish.yaml
Labels: ci

#217 feat: [SIW-2206] Update PID data model and issuance flow to 1.0.0
  example/src/store/types.ts
  example/src/thunks/pid.ts
  example/src/thunks/pidCieID.ts
  example/src/utils/credential.ts
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/__tests__/03-start-user-authorization.test.ts
  src/credential/issuance/__tests__/06-obtain-credential.test.ts
  src/credential/issuance/__tests__/07-verify-and-parse-credential.test.ts
  src/credential/issuance/const.ts
  src/credential/issuance/types.ts
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/pid/sd-jwt/__tests__/index.test.ts
  src/sd-jwt/__mocks__/sd-jwt.ts
  src/sd-jwt/__test__/index.test.ts
  src/sd-jwt/__test__/types.test.ts
  src/sd-jwt/__test__/utils.test.ts
  src/sd-jwt/index.ts
  src/sd-jwt/types.ts
  src/sd-jwt/utils.ts
  src/trust/__mocks__/entity-configurations.ts
  src/trust/types.ts
  src/utils/par.ts
  src/utils/pop.ts
  src/wallet-instance-attestation/types.ts
Labels: example, feat
