Repository pagopa/io-react-native-wallet, pull requests merged in 2025-01, with the labels that each got.

#169 feat: [EUDIW-209] Fetch jwks from URL in presentation
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-retrieve-jwks.ts
  src/credential/presentation/04-get-request-object.ts
  src/credential/presentation/05-send-authorization-response.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/__tests__/02-evaluate-rp-trust.test.ts
  src/credential/presentation/__tests__/03-retrieve-jwks.test.ts
  src/credential/presentation/index.ts
  src/credential/presentation/types.ts
  src/utils/jwk.ts
Labels: feat

#180 deps: [WLEO-170] Update to RN073
  babel.config.js
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/debug/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.java
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainApplication.kt
  example/android/app/src/release/java/it/pagopa/app/io/poc/itwallet/ReactNativeFlipper.java
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/babel.config.js
  example/ios/.xcode.env.local
  example/ios/IoReactNativeWalletExample.xcodeproj/project.pbxproj
  example/ios/IoReactNativeWalletExample/AppDelegate.mm
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example

#178 feat: [WLEO-218] Add Remote Presentation Cross-Device to Example App
  example/ios/Podfile.lock
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/QrScannerScreen.tsx
  example/src/store/reducers/presentation.ts
  example/src/store/store.ts
  example/src/thunks/presentation.ts
Labels: example, feat

#182 feat: [WLEO-235] Remove required context from presentation flow
  example/src/thunks/presentation.ts
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/08-send-authorization-response.ts
Labels: example, feat

#181 feat: [WLEO-228] Enhance Request Object Handling and JWKS Retrieval using x5c
  package.json
  src/credential/presentation/04-retrieve-rp-jwks.ts
  src/credential/presentation/05-verify-request-object.ts
  src/credential/presentation/__tests__/04-retrieve-rp-jwks.test.ts
  src/credential/presentation/types.ts
  src/utils/crypto.ts
  yarn.lock
Labels: feat

#184 refactor: [WLEO-241] Presentation StartFlow input parameters
  example/src/thunks/presentation.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
  src/credential/presentation/errors.ts
Labels: example, refactor
