Repository pagopa/io-react-native-wallet, pull requests merged in 2025-04, with the labels that each got.

#212 chore: [SIW-2197] Make `idphint` parameter optional for auth request url
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/__tests__/04-complete-user-authorization.test.ts
Labels: chore

#213 chore: Release 0.28.2
  package.json
Labels: chore

#209 feat: [WLEO-266] Linked `io-react-native-cbor` bridge functions to verify and parse mDoc credentials and expanded iOS minimum supported version
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/thunks/pid.ts
  example/src/utils/credential.ts
  example/yarn.lock
  package.json
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/mdoc/index.ts
  src/utils/crypto.ts
  yarn.lock
Labels: example, feat

#197 feat: [WLEO-304] Add mDoc Credential Evaluation Support and Refactor Disclosure Handling
  example/src/thunks/presentation.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/__tests__/07-evaluate-input-descriptor.test.ts
Labels: example, feat

#211 fix: [WLEO-339] Add function to remove leading zero from base64url encoded JWK properties
  src/utils/__tests__/crypto.test.ts
  src/utils/crypto.ts
Labels: fix

#214 feat: [WLEO-322] Enhance VP token generation for mso_mdoc format following ISO 18013-7
  example/package.json
  example/src/thunks/presentation.ts
  example/yarn.lock
  package.json
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
  src/credential/presentation/types.ts
  src/mdoc/index.ts
  src/utils/string.ts
  yarn.lock
Labels: example, feat

#210 feat: [SIW-2196] Update ObtainCredential for IT Wallet transition
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/__tests__/06-obtain-credential.test.ts
Labels: feat

#206 feat: [WLEO-323] Add logging feature
  README.md
  debug-logging-server/.node-version
  debug-logging-server/README.md
  debug-logging-server/app.js
  debug-logging-server/bin/www
  debug-logging-server/package.json
  debug-logging-server/routes/index.js
  debug-logging-server/views/index.jade
  debug-logging-server/yarn.lock
  example/.env.example
  example/package.json
  example/src/config.ts
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/SettingsScreen.tsx
  example/src/store/reducers/environment.ts
  example/src/utils/environment.ts
  example/src/utils/logging.ts
  example/yarn.lock
  src/credential/issuance/03-start-user-authorization.ts
  src/credential/issuance/04-complete-user-authorization.ts
  src/credential/issuance/05-authorize-access.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/credential/trustmark/get-credential-trustmark.ts
  src/index.ts
  src/utils/decoder.ts
  src/utils/logging.ts
  src/utils/misc.ts
  src/utils/par.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance/index.ts
Labels: example, feat

#215 feat: [WLEO-345] Prioritize EC keys first P256 during Remote Presentation enc
  src/credential/presentation/08-send-authorization-response.ts
  src/credential/presentation/__tests__/08-send-authorization-response.test.ts
Labels: feat

#216 chore: [SIW-2230] Expose credentials not found in DCQL presentation
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/presentation/07-evaluate-input-descriptor.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/07-evaluate-dcql-query.test.ts
  src/credential/presentation/errors.ts
Labels: chore

#221 fix: [WLEO-351] Fix logging strings interpolation
  src/credential/issuance/07-verify-and-parse-credential.ts
Labels: fix

#222 chore: [SIW-2287] Use snake case for presentation parameters in `startFlowFromQR`
  example/src/thunks/presentation.ts
  src/credential/presentation/01-start-flow.ts
  src/credential/presentation/03-get-request-object.ts
  src/credential/presentation/README.md
  src/credential/presentation/__tests__/01-start-flow.test.ts
Labels: example, chore

#224 fix: [WLEO-351,WLEO-352] Logging strings and remote server setting
  example/src/navigator/MainStackNavigator.tsx
  example/src/utils/environment.ts
  example/src/utils/logging.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/status/02-status-attestation.ts
  src/credential/status/03-verify-and-parse-status-attestation.ts
  src/utils/par.ts
  src/wallet-instance-attestation/issuing.ts
  src/wallet-instance/index.ts
Labels: example, fix

#225 feat: [WLEO-353] Support for obtaining the new credential type eu.europa.ec.eudi.hiid.1
  example/src/screens/CredentialScreen.tsx
  example/src/store/reducers/credential.ts
  example/src/store/types.ts
  example/src/thunks/presentation.ts
  example/src/utils/ui.ts
  src/credential/issuance/06-obtain-credential.ts
Labels: example, feat
