Repository pagopa/io-react-native-wallet, pull requests merged in 2025-08, with the labels that each got.

#259 feat: [SIW-2789] Add proximity presentation in the example app
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/utils/proximity.ts
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, feat

#265 feat: [SIW-2740] Add verify and parse mdoc
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/it/pagopa/app/io/poc/itwallet/MainActivity.kt
  example/android/build.gradle
  example/ios/IoReactNativeWalletExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/components/TestCieL3Scenario.tsx
  example/src/components/cie/PinDialog.tsx
  example/src/navigator/MainStackNavigator.tsx
  example/src/screens/PresentationScreen.tsx
  example/src/screens/ProximityScreen.tsx
  example/src/store/reducers/attestation.ts
  example/src/thunks/credential.ts
  example/src/utils/credential.ts
  example/src/utils/proximity.ts
  example/yarn.lock
  jestSetup.js
  package.json
  src/credential/issuance/02-evaluate-issuer-trust.ts
  src/credential/issuance/06-obtain-credential.ts
  src/credential/issuance/07-verify-and-parse-credential.ts
  src/credential/issuance/README.md
  src/credential/issuance/const.ts
  src/mdoc/const.ts
  src/mdoc/converter.ts
  src/mdoc/index.ts
  src/mdoc/utils.ts
  src/trust/types.ts
  src/utils/crypto.ts
  yarn.lock
Labels: documentation, enhancement, example, feat

#269 chore: release `2.0.0-next.7`
  package.json
Labels: chore

#274 fix: [SIW-2859] Format type for backward-compatible status assertion
  src/credential/presentation/07-evaluate-dcql-query.ts
  src/credential/status/02-status-assertion.ts
  src/credential/status/03-verify-and-parse-status-assertion.ts
  src/sd-jwt/types.ts
  src/trust/types.ts
  src/utils/credentials.ts
Labels: fix

#277 chore: release version 2.0.0
  README.md
  package.json
Labels: chore

#270 chore: [SIW-2824] Update eslint config
  .eslintignore
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: example, chore
